[2015-12-18 16:06] kalkin opened #1 "Error in Splitting the jid when writing to a bare JID"
[code]

[2015-12-20 17:30] akallabeth opened #2 "Use a secure storage for OMEMO keys"
I just found your nice plugin for gajim and tested a bit.
Looks really promising (working nicely so far), but what I did not like is that the OMEMO keys are stored as part of the local configuration.
Using something like ```python-keyring``` to store the keys in the most secure location for the specific platform would certainly be a good idea.

Don't know if it is already on your todo, just some f

[2015-12-20 22:32] kalkin commented on #2
Thank you for your feedback. Generally at the moment there are other issues more important, like implementing the key trust model.

As far as I understand, python-keyring saves your data somewhere (depending on your os) encrypted. I still have two questions:
- How does python-keyring make sure, that only the authorized app (in this case Gajim) is requesting the password for your keyring?
- How doe

[2015-12-21 08:35] akallabeth commented on #2
You have quite strong points with authorization and the lack of X in regard to isolation.
Full disc encryption and SELinux is also the better way but sadly currently its not there yet (I don't know any linux distro where this is not quite some work to get it running smooth)
So the only benefit (currently) would be sensitive information encrypted on disk even without full disc encryption.
As for th

[2015-12-21 11:08] kalkin commented on #2
Full disk encryption can be enabled when you are installing almost any Linux Distribution. This is not an issue.

About SELinux: Centos 7 and Fedora have SELinux enabled by default, I think others use it also. You just do not notice it, because most GUI programms are missing SELinux profiles.  Creating an SELinux profile for Gajim (and contributing it to the main branch) would be a great improveme

[2015-12-21 12:11] akallabeth commented on #2
@kalkin You are right about full disc encryption (I actually use it, but was not clear enough in my last post), the point was more with SELinux. I'm well aware that it is enabled by default in the red hat / fedora world, but they have quite permissive profiles (to my knowledge, is ~3 fedora versions old), so that basically every application with access to the home directory can read / modify files

[2015-12-21 13:11] kalkin commented on #1
After some investigation i figured that this is not an regression introduced by gajim-ommemo, the bug is int the otrmodule.

[2015-12-21 13:11] #1 closed

[2015-12-21 13:35] kalkin commented on #2
I think this is an issue with desktop apps, because there're over 9000 of them and no one wants to create a profile for each one. :smile:

Yes this is exactly what I meant.

This would be awesome. I think the best way would be to introduce it to Gajim and create some kind of API so all plugins (like OTR or just storing of passwords) could use it. I would extend _gajim-omemo_ to use such an API. Fe

[2015-12-22 15:56] zzottel opened #3 "Gajim doesn't crypt messages"
I just installed the plugin from current git.

I received the keys (button shows "clear devices" now), and when the other end writes an OMEMO-encrypted message, I can read it.

However, regardless of whether the check next to OMEMO is set or not, Gajim always sends unencrypted messages.

Gajim version 0.16 on Lubuntu.

[2015-12-22 16:08] zzottel opened #4 "Can't see OMEMO messages sent from Conversations"
When I send a message from Gajim, I can see it in my account in Conversations (only unencrypted yet, see other issue).

The same is true for unencrypted messages sent in Conversations. If I send encrypted messages in Conversations, though, I can't see them in Gajim.

The server is Prosody 0.10 with mod_carbons active.

Gajim version is 0.16 on Lubuntu 15.04.

[2015-12-22 16:19] zzottel commented on #3
Also tried with debugging switched on as described in the README. When I send a message, the plugin doesn't log anything at all, it seems it isn't called at that moment.

[2015-12-22 23:51] kalkin commented on #4
Hi,

thank you for your report. You are stating in #3 :

But here you are telling me:

No I'm officially confused :smile: Are you using in #3 something other as Conversation for sending OMEMO messages?

I will close this issue, because it looks to me like the plugin is generally broken on your system, so let us resume the bug hunt in #3. If you really think that this is a completely different issu

[2015-12-22 23:51] kalkin commented on #3
Hi,

Before the commits made today you had to patch gajim to get the OMEMO plugin properly working. Perhaps you have not applied the patch? Please check out and test the current HEAD.

This is strange, if you see the "Clear Devices" or the "Prekey" button, the plugin is active. Can you please try to run gajim with the `-v` switch and see if there is any OMEMO output?

How did you check that the me

[2015-12-25 08:01] zzottel commented on #4
This is solved, and was more a UI glitch of Conversations than a bug.

Just for the record, a clarification what exactly happened:

My resources: AG (Gajim) and AC (Conversations). The contact's only resource: BC (Conversations).

AC and BC were connected before AG was brought into the equation, and they were already talking to each other OMEMO-encrypted.

Now, when I added Gajim with the plugin,

[2015-12-25 08:18] zzottel commented on #3
Hi,

I only first installed when the patch was not required anymore. I just pulled again and was already up to date (hadn't pulled in between, so I've been on the now current version from the beginning).

gajim -v produces lots of output, among them OMEMO-related stuff, yes.

When I send a message using Gajim, the OMEMO plugin doesn't log anything in debug mode. In my own Conversations, the messag

[2015-12-25 12:29] kalkin commented on #4
@iNPUTmice can you please have a look at this? I'm not sure if this is an issue with Conversations. I think i notice also that Conversations does not prompt you if you add a new own device.

[2015-12-25 12:43] kalkin commented on #3
Hmm, please try running with `-l gajim.plugin_system.omemo=DEBUG`. The README omits the `gajim.` part. May be this is an issue. It works for me without the `gajim` prefix, but may be this is an issue on your system?

This is very strange. Can you please post the debug output here?

Also which exact version of gajim do you use? I am using _16.4_. If you are using an older version you can check out

[2015-12-25 12:44] kalkin commented on #2
I close this issue for now, feel free to reopen it when you made some progress.

[2015-12-25 12:44] #2 closed

[2015-12-26 09:45] zzottel commented on #3
That was it, thanks.

I was using the Gajim that comes with Ubuntu 15.04. I don't know what version exactly that is, didn't find a dialog or command line option of Gajim itself that would tell me. The Ubuntu package version is 0.16-1.

With 0.16.4 from the Mercurial repository, it works.

[2015-12-26 09:45] #3 closed

[2015-12-29 17:29] tristan-k opened #8 "Can not subscribe to pubsub presence-subscription-required"
I'm pushing the button "Get Device Keys" but the XML console is telling me something about an auth error.

[code]

[2015-12-30 12:04] kalkin commented on #8
Thank you for your report.

It looks like you can not subscribe to the pep of franziskaw because you are missing presence subscription. I need to hide the button if you do not have the subscription.

In the future please anonymize private data like jids of other people. :wink:

[2015-12-30 12:07] kalkin opened #9 "Disable OMEMO if dependencies are missing"
A dialog should be displayed with an instruction how to install `python-axolotl` via pip.

[2015-12-30 12:18] kalkin opened #10 "Deploy binary dependencies with the gajim plugin"
Bundle the `x64` axolotl library with the plugin

[2015-12-30 17:17] iNPUTmice commented on #8
In case of a missing presence subscription we shouldn't receive the device list thus we usually don't display the missing keys button. I guess in this case the presence subscription was lost during the life time of the gajim session. Imho this is an edge case that can probably be covered by the normal error handling that should be in place anyway to check if the bundle fetch was unsuccessful.

[2015-12-31 14:33] lovetox opened #12 "Installing the Plugin on Windows"
Hi, i cant get the Plugin to work.

1. If i download the Plugin from Gajims Pluginmanager, it downloads it puts it in my Plugin Directory, but i cant see it in Gajim under "Plugins", so i cant activate it or even know if its working. Iam using the newest Gajim version, do i have to use the older one (0.16.4) like in the readme described?

2. i have python 2.7.10 installed.
if i try "pip install nx

[2015-12-31 15:00] strb commented on #8
I have seen a similar issue which I've ascribed to a server bug (but this is not confirmed). This was in Conversations, but we observed very similar behavior. The client would still receive the devicelist update, but couldn't fetch the bundle (same `<presence-subscription-required/>` error). They still received devicelist updates even after this error was seen, so it definitely wasn't a presence s

[2015-12-31 15:13] lovetox commented on #12
i was able to install "nbxmpp" now. is this "nxmpp" maybe wrong in the readme?

[2016-01-03 12:22] mokasin opened #13 "Delay when sending messages"
On my system, when sending an OMEMO encrypted message to a Conversations client, there is a delay in the order of seconds.

Where does this bad performance come from? How to debug this?

[2016-01-03 14:12] lovetox commented on #12
i made it with xubuntu for now. would be great if someone could tell me whats the problem on windows 7

[2016-01-03 17:05] RalfJung commented on #4
It took us a while, but a friend and me just managed to get all messages visible on all devices, each of us using Conversation on a phone and Gajim on a PC (and of course Jabber servers that have Message Carbon enabled). We had to first send messages back and forth until we saw those red locks in Conversations, and then enable our "other" device by going to the account details. There was no automa

[2016-01-03 17:08] RalfJung opened #14 "Bad interaction with Gajim e2e encryption"
When chatting with someone else who also uses Gajim and OMEMO, we sometimes had the problem that Gajim started an e2e session so that messages sent from the PC ended up only on the peer's PC, but not on any of our phones. We fixed this now by disabling e2e sessions in the Gajim ACE, but maybe the plugin can do something about this. I can't remember having this problem with OTR, so maybe the OTR pl

[2016-01-03 17:11] RalfJung opened #15 "[UI] Clearly show which message is encrypted (and how)"
Right now, it can happen that even though the "OMEMO" box is ticked, messages are sent unencrypted. This is kind of visible due to the lack of a shield to the left of the text field, but the trouble is that sometimes, even when the shield is missing, messages *are* sent OMEMO-encrypted.

When the OMEMO checkbox is set, it should *never* send an unencrypted message. This is to prevent the user from

[2016-01-03 19:01] lovetox commented on #15
I can confirm this

Checkbox for OMEMO is ticked, but every Message i send is unencrypted, at least Conversations shows it as unencrypted. Even when the shield is there.

I also dont know how i get Gajim to again send it encrypted... i cant do more than tick the box.

[2016-01-03 19:40] picardtux opened #16 "omemo fehler"
Fehler bei OMEMO version aus dem GIT vom 03.01.2016
Gajim 0.16.4
installation wie im GIT beschrieben per GIT und PIP unter Arch
![screen_20160103-202845](https://cloud.githubusercontent.com/assets/4246860/12080431/d91bf13a-b259-11e5-954b-07266eb1fbd7.png)

[2016-01-04 09:47] tristan-k opened #17 "option to enable omemo on default"
Everytime I restart Gajim I will have to reenable the OMEMO checkbox. Please add an option to activate OMEMO on default.

[2016-01-04 11:09] piratenpanda commented on #16
Already reported this issue with the comment "It's already known" but I guess it's never bad to have it reported here as well :)

https://trac.gajim.org/ticket/8208#comment:1

[2016-01-04 13:08] kalkin commented on #16
Hi thank you guys for reporting. Work is in progress

[2016-01-04 13:08] kalkin commented on #17
Hi,

thank you for you report. Work in Progress.

[2016-01-04 13:48] kalkin commented on #15
@RalfJung and @lovetox I would be very grateful if you could   verify with the latest gajim (install instruction [here](https://github.com/kalkin/gajim-omemo#gajim)) and run in debug mode like this: `./launch.sh -l gajim.plugin_system.omemo=DEBUG`. Please post in this issue the debug output if this error hapens again.

Well this is currently not possible with gajim. This is the reason why any encr

[2016-01-04 14:07] kalkin commented on #14
Thank you for your bug report. I can confirm there are issues when having e2e and OMEMO enabled side by side.

[2016-01-04 14:08] kalkin commented on #4
According to @iNPUTmice in the conversations channel, this bug is fixed and will be released with the next version of Conversations.

[2016-01-04 14:08] #4 closed

[2016-01-04 14:12] kalkin commented on #13
It's hard to say. It can be anything. It could be you mobile device which is slow doing encryption, it could be just a network/server delay.

[2016-01-04 14:18] kalkin commented on #14
As a work around you can disable E2E in the Preferences -> Advanced -> Advanced Configuration Editor.
There are two options:
- enable_esessions can be set to Disable to disable it completely
- autonegotiate_esessions can be set to Disable to disable the auto enabling E2E

I'm currently have only autonegotiate_esessions disabled.

[2016-01-04 14:28] mokasin commented on #13
I observe this also, when sending messages between two accounts on the same server just using Gajim for both.

(Shortened)Debug log looks unsuspicious:

[code]

[2016-01-04 14:33] kalkin commented on #12
@lovetox Thank you. Of course it should be `nbxmpp`. I fixed the README accordingly.

About the windows situation. I must admit that my knowledge about python deployment on Windows is _not_ existing. I'm also lacking any testing hardware/license for Windows.

You could try to upgrade `pycrypto` and `protobuf` and see if you can install python-axolotl.
`pip install --upgrade protobuf pycrypto pytho

[2016-01-04 14:34] kalkin commented on #12
Any help for porting and running `gajim-omemo` on Windows would be appreciated!

[2016-01-04 14:38] lovetox commented on #15
hope this is correct, sadly this debug option doesnt seem to catch my send messages from gajim probably because they are not omemo encrypted?

you see only the ones i received but i did send some in between

i anonymized the JIDS but dont really know about the other keys and numbers

[code]

[2016-01-04 15:00] kalkin commented on #13
Please open Actions -> Advance -> Xml Console. Enable it and send any OMEMO encrypted message. The XML Console will show your message as soon as it hits the wire. If you have a lag between pressing enter and the message showing up in the XML Console, it's a Gajim or OMEMO issue. In any other case it should be network/server issue.

[2016-01-04 15:02] kalkin commented on #15
Only OMEMO logging is not enough (I should have thought about it, sorry), you need to enable full logging. Start gajim with `./launch.sh -v`

[2016-01-04 15:09] mokasin commented on #13
I have a lag between pressing enter and the message showing up in the XML Console AND the message window. This delay does not happen, when I disable OMEMO.

[2016-01-04 15:18] kalkin commented on #13
Interesting. So it's definitly crypto. Would be nice if you could debug it further. You could add some timestamp logging to `OmemoState.create_msg()` to figure out the hot spot.

[2016-01-04 16:17] lovetox commented on #12
i could build all dependencies on windows 7 x64 with python 2.7.9 (32 bit version)

2.7.10 doesnt work for some reason.

but plugin is still not showing up.

questions is though, where does the windows version of gajim look for those dependency files .. i hope in the python directory, but could also be that they have to be copied somewhere else :)

any idea how i could get a error log like in linu

[2016-01-04 16:43] mokasin commented on #13
These are the timings I've got.

[code]

As you can see, the most time is spent dealing with the session keys of the other devices (there are no other devices online with the same jid in my case).

I'm not really sure, what the difference between
https://github.com/kalkin/gajim-omemo/blob/ffbaf3ae9d60c3747b92ca008c123c2256b88e16/state.py#L174
and
https://github.com/kalkin/gajim-omemo/blob/ffbaf3ae

[2016-01-04 17:05] mokasin commented on #13
It seems

[code]

takes rather long on my system.

[2016-01-04 17:35] kalkin commented on #13
Ok it's the encryption issue. The whole encryption happens [here in lines 182-188](https://github.com/kalkin/gajim-omemo/blob/ffbaf3ae9d60c3747b92ca008c123c2256b88e16/state.py#L182-L188). We encrypt the key for the cryptotext for each other device we have and for each device of our receiver. It takes time. If you want to follow further the in to the rabbit hole have a look at the [encrypt method](

[2016-01-04 17:44] kalkin commented on #12
It is python / pip responsibilities to install the dependencies in to the right directory. You just have to make sure that you use exactly the same python for Gajim, which you used to install your dependencies. There could be in issue if you have multiple different python versions installed.

You can use the `launch.bat` which i assume does the same as `launch.sh`

[2016-01-04 19:32] mokasin commented on #13
I've tried a bare metal version of the _encrypt()_ function by basically running this [code](https://github.com/tgalal/python-axolotl/blob/master/axolotl/tests/test_sessioncipher.py) using _initializeSessionsV3()_. There is virtually no delay on my system. But calling the _encrypt()_ function from the OMEMO plugin takes considerable more time (actually several orders of magnitude). This is weird.

[2016-01-04 19:43] enko opened #18 "Traceback when opening a second chat window for a contact but a different resource"
When a user is online with gajim and conversations, I open a chatwindow with him/her (double click on roster item), than I open a chatwindow to a specific resource (right click on the roster item, start chat, choose a resource) the following error is triggered:

[code]

[2016-01-04 20:06] enko commented on #15
Hmm, the image plugin can insert images into the message, maybe you can insert a lock image into the message the same way?

[2016-01-04 21:04] RalfJung commented on #15
It must be clear though that the image comes from Gajim, not from the remote user... so it should probably appear before the nickname. Also, it'd be even better if the tooltip could provide further information, like which encryption was used.

[2016-01-04 22:44] kalkin commented on #18
Thank you for reporting. This is a duplicate of #16

[2016-01-04 22:44] #18 closed

[2016-01-04 23:06] cippaciong opened #19 "Images sent using HttpUpload are not encrypted"
Images sent using HttpUpload are not encrypted, at the same time, images that are received encrypted (sent for example from Conversations) are not visible.

[2016-01-05 15:40] lovetox commented on #15
@kalkin i have now a more detailed log with "-v" flag, can i send it via email to you, its to big for posting and i really am to lazy to anonymize all the personal data in this log.

[2016-01-05 17:41] kalkin commented on #15
@lovetox My Email should be visible in my Github profile.

[2016-01-06 08:32] t2d opened #20 "Not possible to install via gajim"
When I try to install this plugin in gajim, it is downloaded, but never shows up in the list of installed plugins.

gajim 0.16.5

[2016-01-06 09:43] RalfJung opened #21 "Sometims incoming messages are only shown as a notification, not in the conversation"
The title pretty much says it all: Sometimes when I receive an OMEMO message for a conversation that is in background, I *do* get a notification for it on my screen. However, when I then select the tab with that conversation, there is no new message. My phone shows the message.

[2016-01-06 10:25] kalkin commented on #21
@RalfJung
Thank you for your report. I and other people had experienced the same issue until now, I always thought this is a bug in Gajim, but you say it definitely happens only when using OMEMO?

[2016-01-06 10:28] kalkin commented on #20
@t2d
Please have a look at the README. Especially see the [Dependencies](https://github.com/kalkin/gajim-omemo#dependencies) part. If you are using windows plz see #12.

I'm closing this issue for now if you still can not enable the plugin after you followed the README, feel free to reopen this issue again

[2016-01-06 10:33] kalkin commented on #13
@mokasin Dunno how you tested it directly, but if you are using the OMEMO plugin your encryption is derived from previous encrypted messages. I imagine that this takes more work, than just plainly initialize a completely new session. Feel free to dig deeper.

[2016-01-06 10:34] RalfJung commented on #21
I have not seen this happen ever before I installed OMEMO. And I also have not seen this happen in conversations that do not use OMEMO. That's all I can say ;-)

[2016-01-06 10:36] kalkin commented on #21
@RalfJung Ok you convienced me.

[2016-01-06 11:41] daradib opened #22 "Python OMEMO package"
What are your thoughts on moving/copying non-gajim code to a separate omemo package that can be used by other python software? For example, aes_gcm, state, store.

I know that it's more trouble, so I don't have any expectations, just wondering if you had an idea in mind. And thanks for the plugin!

[2016-01-06 11:55] t2d commented on #20
I think, all dependencies are installed

[code]

I cannot reopen myself

[2016-01-07 23:15] kalkin commented on #20
- Did you try to du `sudo pip2 install python-axolotl --upgrade`?
- Which OS?

[2016-01-07 23:17] kalkin commented on #22
Yes i had this idea. It's a good idea. Needs only to be executed. Few notes:
- OmemoState needs probably clean up.
- The trust managment handling needs to be added

Patches are welcome :grinning:

[2016-01-07 23:19] kalkin commented on #22
Perhaps it  would also make sense to abstract away the UI states i.e: are there prekeys missing? if so how many? Is omemo active right now?

[2016-01-07 23:20] kalkin commented on #15
This should be fixed by ce63cc8e583dc6099b45d8cb44ee95c9394b6bd2

[2016-01-07 23:32] kalkin commented on #8
This should be fixed in ce63cc8e583dc6099b45d8cb44ee95c9394b6bd2
Now the ui is only created if the recipient supports OMEMO.

[2016-01-07 23:33] kalkin commented on #12
Any progress?

[2016-01-08 08:49] t2d commented on #20
[code]

[2016-01-08 14:02] lovetox commented on #15
hm still cant sent encrypted messages.
i uninstalled the plugin from the Gajim menu, then reinstalled it from the pluginmanager, then downloaded the updatet files from here, and replaced the files in the plugin directory.

how can i completely reset the database, maybe there is a problem there?

the reason i say its not encrypted is:
1. my chat partners conversations client shows it as unencrypted

[2016-01-08 14:16] lovetox commented on #15
i did find out why it didnt work for me.

i had an old version of gajim, ubuntu software center does only provide version 0.16.0
with this version it didnt matter if the checkbox was checked or not the messages were always unencrypted.

with 0.16.5 and your fixes, now it works for me.

[2016-01-08 16:08] lovetox commented on #12
no, i was just installing the exe from the gajim site.

if i try it like in your link, with cloning the rep, i cant get it even started with launch.bat
i am now mostly on linux anyway, so i give up for now

[2016-01-08 17:11] kalkin commented on #15
@lovetox Great. Thank you for your feedback!

[2016-01-08 17:11] #15 closed

[2016-01-08 17:16] kalkin commented on #20
The Gajim package in Ubuntu is too old. See also a similar [issue here](https://github.com/kalkin/gajim-omemo/issues/15#issuecomment-170015166).

Please see the [Installation notes](https://github.com/kalkin/gajim-omemo#installation) in the README which show how to install Gajim from the Mercurial Repository

[2016-01-08 17:16] kalkin commented on #20
Hmm correction. You state in the begining you have gajim 0.16.5. How did you install it?

[2016-01-08 17:19] kalkin commented on #16
This issue should be fixed in the current HEAD

[2016-01-08 20:29] t2d commented on #20
From https://gajim.org/downloads.php?lang=en#ubuntu

[code]

[2016-01-09 12:39] RalfJung opened #24 "'ChatControl' object has no attribute 'lock_image'"
I just got this Python error:

[code]

What I did:
* I received an OMEMO message for a closed conversation
* I double-clicked that contact in the buddy list
* Then the error appeared

[2016-01-09 16:59] kalkin commented on #24
Please try the current master.

[2016-01-09 21:01] RalfJung commented on #24
I was slightly hesitant to update, since I was unsure how stable master is... but I guess even the "stable" versions are kind of experimental ;-)

[2016-01-09 22:05] lovetox commented on #12
i made it after 6 hours of work.

on Windows Gajim takes all its dependencies from a file called library.zip in the _bin_ folder of Gajim or out of the plugin folder.

so if you want that the plugin works out of the box after downloading it in the pluginmanager of Gajim, i think there is no way around providing all the dependencies with the plugin. would be great if you could do this as soon as po

[2016-01-09 22:17] lovetox commented on #12
also in my journey to get this working i found this, probably an error, at least my python console didnt let me over it

in state.py

[code]

NoSessionException is in nosessionexception.py

[2016-01-09 22:31] lovetox commented on #12
ok with plugin is working i meant, i see all the buttons

though if i click "Get Device Keys" this happens

[code]

but this is maybe unrelated to the installing of the plugin.

[2016-01-10 15:00] RalfJung opened #25 "Bad unicode (?) icon when OMEMO encyption starts"
The chat message logged when OMEMO encryption starts includes a broken Unicode icon here on my Debian testing system:
[code]
The character before "OMEMO" is an "unknown character" box.

This only started when I upgraded from version 0.2 to the git master.

[2016-01-10 15:03] RalfJung commented on #24
I just did the same think, and with the git master version, there was no error.

[2016-01-10 15:03] #24 closed

[2016-01-10 15:04] RalfJung opened #26 "Python error shown on the console"
The following error is shown when I start Gajim with "./launch.sh", with the git master version of OMEMO:

[code]

I never even tried using OMEMO encryption with that server (it's a fairly minor account), so it may well be that the server doesn't support PEP properly. I don't really care ;-) but these python exceptions looked fishy.

[2016-01-10 15:58] kalkin commented on #25
Ok, I went a little bit fancy and added a unicode `LOCK` and `LOCK_OPEN`, but they probably depend on your font. Will remove it.

[2016-01-10 16:02] #25 closed

[2016-01-10 16:03] #16 closed

[2016-01-10 16:09] kalkin commented on #21
@RalfJung according to Asterix in the gajim MUC this could be a bug in Gajim. This [patch](https://github.com/kalkin/gajim/commit/4fed7b7cce05e03ab541c6d2154c0eb8e390191e) should fix it.

[2016-01-10 16:17] RalfJung commented on #21
I saw an error on the console a few times today saying that `LOG_DB_PATH` is not an attribute of something. So, this patch most likely fixes something. However, I did not see lost messages today, so I am not sure if that's related. I can't reproduce lost messages anyway, so I have no way to test :-/

[2016-01-10 16:32] cippaciong commented on #25
Why don't you make that optional instead? The lock symbol seems a rather good idea to me and having the Symbola font should be enough to see the correct character (or not?).

[2016-01-10 16:37] RalfJung opened #27 "Misleading warnings: No OMEMO dev_keys"
For conversations that are opened immediately when Gajim starts (because they were open last time), OMEMO prints

    jabber.ralfj.de ⇒ No OMEMO dev_keys for contact@server

even if that contact *does* have OMEMO keys - actually, keys that the plugin even knows about. OMEMO seems to work fine in these conversations nevertheless.

[2016-01-10 16:42] RalfJung commented on #17
Ideally, this could be a per-contact/per-conversation state.

[2016-01-10 16:52] kalkin commented on #25
@cippaciong Because it's a hack for missing ui components in Gajim. This should be solved by Gajim

[2016-01-10 17:02] kalkin commented on #12
@lovetox Thank you for your great research work!

I have created a wiki page: [Compiling dependencies for Windows](https://github.com/kalkin/gajim-omemo/wiki/Compiling-dependencies-for-Windows). Could you glance over it and perhaps add missing bits, so we have a manual how to do this?

Did you use 32bit or 64 bit? In general: 32bit vs 64bit. Do we deliver 32bit for all, or do we deliver both, or j

[2016-01-10 17:20] kalkin commented on #20
Please try the current HEAḊ. It has a fix which will show OMEMO in the plugin manager even if you are missing dependencies, but it should not be possible to activate it. Please confirm.

[2016-01-10 17:39] kalkin commented on #26
@RalfJung If you like you can create me a test account on your server and E-Mail it to me. (My E-Mail is in the profile)

[2016-01-10 19:09] RalfJung commented on #26
Sorry, that server is not mine but run by my institute. Only institute members get accounts. I'm happy to run debug code for you, though - just point me to a git branch of the OMEMO plugin I should run.

[2016-01-10 19:26] kalkin commented on #17
@RalfJung yes it's per contact.

[2016-01-10 19:36] #17 closed

[2016-01-10 20:37] #9 closed

[2016-01-10 20:51] lovetox commented on #12
ok i will go over that wiki over the next week

i have to take that back, a windows user cant simply put it in the plugin folder of omemo. cause thats not a standard path where the dependencies are assumed. if you want to provide it there, like you do with the `store` folder you have to change all the paths in the `py` files. cause many axolotl files import with kind of absolut paths, like `from a

[2016-01-10 20:56] kalkin commented on #12
@lovetox

Thanks!

I did not mean the python files but the libraries produced by mingw. About 32 vs 64 I need to do more research.

[2016-01-10 21:01] lovetox commented on #12
i get this now with the version you put out right now

Traceback (most recent call last):
  File "C:\Users\Philipp\AppData\Roaming\Gajim\Plugins\plugin_installer\plugin_installer.py", line 337, in on_plugin_downloaded
    plugins = self.scan_dir_for_plugin(plugin_dir)
  File "C:\Users\Philipp\AppData\Roaming\Gajim\Plugins\plugin_installer\plugin_installer.py", line 444, in scan_dir_for_plugin

[2016-01-10 21:05] lovetox commented on #12
i remember now, axolotl_curve25519 gets compiled with mingw, but there is no mingwx64 download, i think there is only a 32bit version. also in the installation readme of axolotl there is

`
[build]
compiler=mingw32
`

[2016-01-10 21:07] kalkin commented on #12
@lovetox Should work after restarting Gajim.

[2016-01-11 11:43] t2d commented on #20
Gajim automatically updated the plugin. After a restart, I can now enable the plugin, but it still doesn't work. It seems, that it never creates devices keys. Here is the debug output with two local accounts:

[code]

[2016-01-11 11:50] t2d commented on #20
After `rm /home/t/.local/share/gajim/omemo_*` and restart I got the OMEMO buttons.

[2016-01-11 11:50] #20 closed

[2016-01-11 11:57] t2d commented on #26
I get the same error on restart. Maybe it is a problem with messages from old sessions, which are replayed?

[code]

[2016-01-11 13:45] kalkin commented on #8
@tristan-k Which Jabber Server are you using ejabberd? If so which exact version on which exact os?

[2016-01-11 13:47] kalkin commented on #8
@tristan-k also did updating help? It shouldn't have, my [note here](https://github.com/kalkin/gajim-omemo/issues/8#issuecomment-169840288) was accidental.

[2016-01-11 14:07] strb commented on #8
The problem I described earlier was on ejabberd-15.07.

[2016-01-11 16:09] lovetox commented on #12
hm on ubuntu this build works but on windows it stopped. i get

[code]

[2016-01-11 16:54] kalkin commented on #8
@strb So is this the old ejabberd version, which also has other issues with PEP?

[2016-01-11 17:03] kalkin commented on #12
The sqlite version is too old. It does not support the [WITHOUT ROWID](https://www.sqlite.org/withoutrowid.html) statement. Sqlite supports this statement since 2013. Which sqlite version is used and what does provide it?

[Releveant Code](https://github.com/omemo/gajim-omemo/blob/master/store/encryption.py#L30-L35)

[2016-01-11 17:39] lovetox commented on #12
its the sqlite.dll Gajim provides in its BIN directory.

i updated it to a recent one and the error is gone.

could you change the code to something that is supported by the 2013 version?

otherwise windows users would have to hope that gajim updates there sqlite version, or update it themself.

it would get more and more of a hurdle to install this on windows.

[2016-01-11 17:44] lovetox commented on #12
also do you think we could provide a zip file in the wiki (install for windows) with all the dependencies already provided. so that someone who just wants to install this quick would just have to copy the content of zip into his bin folder.

like in addition to the compiling section, for people who want to do it themself

i would provide this zip file

[2016-01-11 18:10] lovetox commented on #12
Back to the Error when i click "Get Device Keys"

i have the XML Console open, but if i hit the button the error pops up, jabber does not send out anything or getting anything at the moment i hit the key

also this is also in the log, the error message is slightly different to befor

here both: the one i get when i click the button

[code]

the one in the log:

[code]

[2016-01-12 11:40] kalkin commented on #22
@daradib I started separating an OMEMO library from the gajim-omemo plugin. Please have at https://github.com/omemo/python-omemo Help is wanted

[2016-01-12 11:40] #22 closed

[2016-01-12 12:09] kalkin opened #31 "Fix setting up encryption_state table on Windows"
The currently deployed version of sqlite by gajim is from 2013 and does not support the `WITHOUT ROWID` feature on Windows. There're two options:

1. Gajim should deploy a fresher version of sqlite.
2. Do not use `WITHOUT ROWID`. Create a migration + tests which will not wreck the database of the non-windows users

See also [here](https://github.com/omemo/gajim-omemo/issues/12#issuecomment-1705988

[2016-01-12 12:19] kalkin commented on #12
Yes. I created a new issue See #31

This would be great! I would just add them to the git in own directory `windows/`, because I think you can not upload files in the wiki(?). I will accept a PR, but only if it's reproducible documented somewhere how you build the dependencies

It looks to me like two different errors. The first one happens when you try to fetch bundle information for keys, the ot

[2016-01-12 15:36] lovetox commented on #12
did send you an email with the log, hope it helps

i started the application with the --verbose flag i think thats the most you can catch

[2016-01-13 01:35] #31 closed

[2016-01-13 17:24] akallabeth opened #32 "OMEMO not available when writing message to other resource"
When sending a message to another resource from gajim no OMEMO encryption is available.

[2016-01-14 11:53] kalkin commented on #12
@lovetox I looked through the log, but I have not found anything suspicious. I would ask you to try the current HEAD (it also fixes #31).

When using the current HEAD add a `-l omemo=DEBUG` as a parameter to gajim (not only `-l gajim_plugins.omemo`, this is because omemo is now it's own package [omemo/python-omemo](/omemo/python-omemo) .

I'm sorry for the inconvience. We will pinpoint the issue,

[2016-01-14 11:59] kalkin commented on #32
1. OMEMO is designed to be used together with MAM and Carbons, so there should not be any reason to send a message to another resource, or is there? What's your use case (I am genuinely interested)?
2. I just tried opening an conversation with a specific resource (Right click in the buddy list -> Start Chat ...). It shows the OMEMO checkbox and everything looks fine to me. Are you using an up to d

[2016-01-14 12:00] kalkin commented on #21
This is fixed in the current HEAD. The issue was that we did not convert the OMEMO decryption output to unicode, but sqlite3 expects unicode.

[2016-01-14 12:00] #21 closed

[2016-01-14 12:03] kalkin commented on #27
Currently it needs to fetch all the existing dev_keys from the server, even if it knows them already and there are already in the database. This is a known limitation and I'm working on it at [/omemo/python-omemo](/omemo/python-omemo)

[2016-01-14 12:04] kalkin commented on #26
@t2d @RalfJung Please check if the error still exists in the current HEAD.

Thanks in advance
kalkin-

[2016-01-14 12:10] kalkin commented on #19
I'm not sure yet if I need to fix it in my plugin or if it is a http-file-upload plugin issue, or both. Would be great if you could make some research and perhaps even some code to fix the issue _prettyplease_ :pray: ?.

I'm currently reworking the omemo library so we have tests and it can be reused by other clients, see also [omemo/python-omemo](/omemo/python-omemo), so it could take some time ti

[2016-01-14 12:13] kalkin commented on #13
@mokasin I'm currently working on a standalone [omemo/python-omemo](/omemo/python-omemo) library. I'm working on adding tests which will make sure consistent behaviour. Care to add some tests which will measure the performance and guarantee that we do not get worse?

[2016-01-14 13:07] akallabeth commented on #32
Maybe I was not clear enough in my initial description.

I'm trying to send a message from my desktop (running gajim) to my mobile running conversations. (same account)
It works when sending to somebody else and selecting a specific resource, but not if sending to oneself.

[2016-01-14 13:20] kalkin commented on #32
@akallabeth Thank you for your explanation.I found the issue, but I'm currently on my mobile. Here at [line 239](https://github.com/omemo/gajim-omemo/blob/master/__init__.py#L239) ~~you need to add to the check if the `contact_jid` is in `state.own_devices`~~

EDIT: The line i mentioned is important, but the approach is wrong.

[2016-01-14 15:58] RalfJung commented on #27
Well, the confusing bit is that later on, it does find OMEMO dev_keys for that contact. (Which is nit printed, because that's at level info or debug). So the statement that these contacts have no OMEMO dev_keys is just wrong - actually, it's just so early in the login process that Gajim hasn't yet loaded them.

[2016-01-14 16:00] RalfJung commented on #26
I don't see the error any more. There's a different error though, which may mask this one:

[code]

[2016-01-14 16:01] RalfJung commented on #21
May this also be the reason for the occasional message that my Log DB is broken? I just ignored it so far, hoping that my log DB is not actually broken^^

[2016-01-14 16:12] lovetox commented on #12
with the current HEAD nothing changed

i get these 2 errors in the log, but they were there before

[code]

still same error message when i click on the button for device keys.

maybe you could build in some error catching code and i try it out. cause the error message doesnt seem very informativ.

thanks for taking the work, i use this plugin everyday with my girlfriend ( with ubuntu ) .

[2016-01-14 16:26] kalkin commented on #21
@RalfJung Yes. DB is not broken, but some omemo encrypted messages are not saved.

[2016-01-14 16:42] RalfJung commented on #26
And now I do see the original error again, below the above cited new stacktrace.

[2016-01-15 12:56] kalkin commented on #26
@RalfJung The new error should be fixed now in HEAD. Could you run try the current head and document the new error line numbers here for further bug searching?

[2016-01-15 13:12] kalkin commented on #12
@lovetox I think i found the issue. I think the device_id and the device_list given to BundleInformationQuery and DeviceListAnnouncement are empty/invalid. I added some more asserts, so we can see if something goes wrong there. Please try the current HEAD.

[2016-01-15 15:14] lovetox commented on #12
nothing changed, also no new errors in the log with -l omemo=DEBUG

[2016-01-15 16:32] RalfJung commented on #26
The new error is fixed. The original one remains.

Here you go:

[code]

[2016-01-17 17:02] lovetox commented on #19
images i receive from conversations encrypted with omemo are not valid links
the decryption doesnt work somehow

i get
The image “ https://accountjabberat/media/http_upload/mMByU4PZDo8jBwGoppIc6bU4qdnO6ph6/0_bigjpg#6c62559db803b9c0050b96bf9553ab22d536ca3c77ad49ebb7e8808e866adc5e993371afee5695791c7f7d3b5b44ae70” cannot be displayed because it contains errors"

if i send a image unencrypted from con

[2016-01-21 14:22] #32 closed

[2016-01-23 10:02] chaoscommander opened #35 "GUI inconsistent"
Just trying OMEMO with Gajim 0.16.5. Following problem: I have two chat tabs open, both with Conversations users. One shows the on/off checkbox and the shield symbol, the other doesn't. The second guy tells me my messages arrive encrypted with OMEMO, my GUI however looks like OMEMO isn't even available. In case this is relevant: the first user (with correct behaviour) has only one device key, the

[2016-01-23 10:21] chaoscommander commented on #35
... I need to restart Gajim after opening a conversation with an additional contact in order to enable the OMEMO buttons. For every contact I want to first initiate OMEMO encryption with.

[2016-01-26 12:07] mapama opened #36 "Messages stored by MAM while gajim is offline are not shown"
Steps to reproduce this issue:
- Start an OMEMO-encrypted conversation
- Go offline
- Send an encrypted message from another device
- Go online
- Go the chat history
The sent message is not shown.

Expected behaviour: See the message in the chat history.

Tested with ejabberd 15.10 on Debian Jessie and MAM enabled.

Thanks for the development of this great plugin.

[2016-01-26 17:24] t2d commented on #26
This error seems to be gone in 0.4

[2016-01-27 09:30] kertase opened #38 "No posibility to compare keys and selectively allow disalow devices"
There is no menu to compare the keys and to chose what keys should be used and which should not.

[2016-01-27 19:43] lovetox commented on #12
i printed out the variable to the log which causes the assert to fail

looks like this:

[code]

[2016-01-27 20:14] oodbur opened #39 "no OMEMO with OMEMO-capable contacts on some servers"
I use Gajim v0.16.5, OMEMO plugin v0.4 (same situation with 0.16/0.3).
For one contact that has OMEMO-enabled client software (Gajim with same versions or Conversations - doesn't make a difference), i don't get any controls or signs of OMEMO, although those controls and OMEMO status "enabled" are shown on the other end.

Some experimentation showed that the availability of OMEMO (buttons) depends

[2016-01-27 20:26] oodbur opened #40 "messages silently swallowed although being shown as sent"
OMEMO can only be activated sucessfully if the "Get device keys" button got pressed. Before that i can seemingly activate OMEMO and send messages (i.e. they show up in the conversation view and i got the "OMEMO encryption enabled" status message), but they silently get swallowed and never show up on the other end.
With the OMEMO checkbox unticked i can get successful delivery (of unencrypted messa

[2016-01-27 20:50] oodbur opened #41 "confusing user interface"
Even after spending hours on the topic of OMEMO and such the (naming of the) buttons don't make any sense to me.
The buttons/interactive elements lack tooltips.

(Only) If i know what OMEMO is, the "OMEMO" checkbox is fairly intuitive.

The "Get device keys" button is permanently gone after i pressed it once. It leaves me with the question of what i have done and how i can repeat or reverse it.

T

[2016-01-27 21:01] oodbur commented on #41
With one contact i now even get two sets of OMEMO buttons.

[2016-01-27 22:45] cippaciong commented on #39
OMEMO needs [PEP](https://xmpp.org/extensions/xep-0163.html) to be enabled on the server to work.

[2016-01-28 10:00] kalkin commented on #41
oodbur: I'm sorry for your experience. I am currently on the move. I will fix it as soon as I'm back at my workplace.

[2016-01-28 12:15] kalkin commented on #13
I reproduced it on my notebook.

[2016-01-28 16:26] oodbur commented on #39
Nevertheless, the exact behaviour Gajim-OMEMO shows here seems unacceptable: In the described case when only one party is on a PEP-enabled server, we get "OMEMO encryption enabled" status on one end and messages from both parties are shown as encrypted while on the other end they are not.
And, shouldn't there be a meaningful warning message or something in place that tells the user why it fails an

[2016-01-28 16:37] oodbur commented on #39
PEP is needed only for delivering the prekeys, right?
So OMEMO should only depend on PEP if the other party is not available for the initial key exchange. If I'm already getting answer messages from the other party there is no reason for OMEMO not to protect me. In our case, with both parties available at the same time, it could well do an old-fashioned synchronous key exchange, OTR-style. It coul

[2016-01-29 09:52] kalkin commented on #38
This is known. Feel free to make a PR if it's really important to you. If not just wait till I implement it someday :)

[2016-01-29 09:54] kalkin commented on #26
@t2d Thank you for your feedback. @RalfJung I'm closing this now, because I assume it's fixed. If you still have issues, just comment here.

[2016-01-29 10:01] kalkin opened #42 "Check if there is a delay when decrypting a received OMEMO message"

[2016-01-29 10:16] RalfJung commented on #26
Nope, sorry, not fixed:

[code]

This is with d970936.

I can't re-open this issue. Should I open a new one?

[2016-01-29 13:00] kalkin commented on #26
@t2d Are you sure it's fixed for you? Did you change something in your infrastructure, like ejabberd update?

@RalfJung I think only the maintainer is allowed to reopen issues?

[2016-01-29 13:08] RalfJung commented on #26
In some bugtrackers, the original reported can reopen issues. Maybe not on github. _shrug_

Thanks for reopening :)

[2016-01-30 19:59] kertase commented on #38
Just noting :), from a secure point of view this is a critical issue.

[2016-01-31 10:13] kalkin commented on #38
FULL ACK :+1:

[2016-02-11 12:19] gjedeer opened #43 "File transfer"
- Gajim to gajim & Gajim to conversations: no encryption used on file transfer
- Conversations to Gajim: encrypted file is saved to disk - unreadable.

[2016-02-12 09:12] cippaciong commented on #43
Can be considered a duplicate of #19 ?
Long story short: for how Gajim is made right now, it's not easy for plugins to interoperate and this is something they should definitely be able to do in order to get this problem solved.

[2016-02-12 10:31] gjedeer commented on #43
Yeah, they're pretty close.

I'm making my first steps in Gajim code now and proposed this patch yesterday:

https://trac.gajim.org/ticket/8266

If they accept it, it should be possible to decrypt a file on disk once it's written, although I know it's far from perfect.

[2016-02-24 13:56] kalkin commented on #41
Hi,

I'm sorry that my response took almost a month, real life and corrupt memory ... :smile:

So what would you propose?

You do not need to repeat or reverse it.

Well it's only partly true. If you enable encryption, Gajim will print out _OMEMO encryption enabled_. If you receive an unencrypted message it will warn you, but still send the next message **encrypted**. I know the interface is not g

[2016-02-24 13:57] kalkin commented on #42
Yes there is a delay. This is fixed by using a native AES GCM implementation in [omemo/python-omemo](https://github.com/omemo/python-omemo)

[2016-02-24 13:57] #42 closed

[2016-02-24 14:00] #43 closed

[2016-02-24 14:01] kalkin commented on #19
AFAIK @tmolitor is currently working on fixing the gajim http-file-upload plugin. We shall wait a little bit.

[2016-03-03 12:49] Aeyoun opened #44 "UI must be moved into a menu or a panel"
There are too many devices on the list to fit on the screen. It takes up too much horizontal space. Should either be in a panel or a menu.

[2016-03-03 12:50] Aeyoun opened #45 "“Device” should use resource name instead"
“Device 1” and “Device 2“ etc. means nothing to users. Use their resource names instead as a human readable label. “Mobile”, “work”, etc. are much more relatable.

[2016-03-03 12:53] Aeyoun opened #46 "“Clear Devices” button is unambiguous"
What devices? What happens when I click it? Even after clicking it, nothing seems to happen.

Should give feedback when clicked, and include a list of devices in a tooltip or something.

The button is also really prominently placed in the UI. Should be moved to a tab in the Contact information dialog where users can revoke individual devices.

[2016-03-03 15:03] SamWhited commented on #45
Resource names SHOULD NOT be human readable, they are on some clients, but won't be on others (and generally shouldn't be).

If anything, the client identity information from the caps should be used.

[2016-03-03 15:12] da2x commented on #45
I assume “device” refers to to “resource”? Well, then the resource name really is the correct identifier/label to use. It will be unique per _device_.

[2016-03-03 17:12] PolynomialDivision opened #47 "MUC: Omemo Support"
Hi,
Conversations is going to support OMEMO in Multi-User Chats:

    OMEMO encryption works only in private (members only) conferences that are non-anonymous. You need to have presence subscription with every member of the conference. You can verify that by going into the conference details, long press every member and start a conversation with them. (Or select 'contact details' if they are alrea

[2016-03-06 19:46] yann-l commented on #12
same behavior, same traceback here with plugin from gajim FTP repository.

[2016-03-06 20:23] yann-l commented on #12
I fixed the tracebacks by changing "data is Node" by "isinstance(data, Node)" in xmpp.py in 2 places.

I was able to exchange an encrypted message, but got other tracebacks, probably not related to this ticket:

[2016-03-07 17:35] petmos commented on #47
I'm not sure if this is the right place but I would recommend this request. Encrypted MUC (with multi device and multi platform support) would be great.

[2016-03-08 14:13] kolAflash opened #48 "Error when loading python-axolotl: ImportError: No module named symbol_database"
Hi,

although I got python-axolotl installed, Gajim is giving me the message:
```gajim.plugin_system.omemo Please install python-axolotl.```

So I went to ```~/.local/share/gajim/plugins/omemo/__init__.py``` and changed line 44 and following to this (gajim-omemo version 0.4):
[code]
Please consider to do something like this in general, instead of just printing a fixed error message like AXOLOTL_MI

[2016-03-09 21:09] RalfJung opened #49 "Message sent unencrypted even though OMEMO is checked"
I have a peer where messages are sent unencrypted even though I have checked the "OMEMO" checkbox. Conversations shows no padlock on these messages.

There is no log output about this. I guess I need to somehow enable more debug logs?

This is with `ff6f7d83055999813c680a9025e2392eface1efd` of the plugin.

[2016-03-10 01:00] hannob opened #50 "OMEMO only working in one direction with ejabberd server"
I have the problem that with my server omemo does not seem to work. As far as I'm aware omemo only requires pubsub on the server side, which is enabled. It's running latest ejabberd (16.01).

When communicating from my server to an account at jabber.ccc.de (both with gajim-omemo) then encryption works in one direction (from me to the other server), but not in the other. The other user does not see

[2016-03-21 10:41] iNPUTmice commented on #50
Possibly related to #39
If I remember correctly the list of known device ids for a particular contact is only filled by pep events. In case this event is not delivered we will experience a uni-directional encryption as @hannob describes it. Meaning we will have an axolotl session in memory (or in our database) and are able to decrypt messages but we are unable to respond because when responding we

[2016-03-25 20:10] iNPUTmice commented on #50
Hi @hannob
I wasn't actually able to reproduce the issue but with the last couple of commits gajim omemo should be able to work around this. Please test this and provide feedback.

[2016-03-25 20:11] iNPUTmice commented on #49
This was a regression introduced with d970936e15c13e4738de37b0d2a60193ed828041.
I reverted that commit.

[2016-03-25 20:11] #49 closed

[2016-03-25 20:25] iNPUTmice commented on #39
This might be fixed in current HEAD. Please take a look and report back.

[2016-03-25 20:26] iNPUTmice commented on #27
should be fixed by f65ad71b67a7bad5de7dc84e322ca3b3f0911141

[2016-03-25 20:26] #27 closed

[2016-03-25 20:28] iNPUTmice commented on #45
Where are you seeing 'Device 1' and 'Device 2'?
Currenlty gajim-omemo doesn't allow you to trust devices (which is covered by a different issue)

[2016-03-27 12:59] iNPUTmice commented on #46
Actually this should be placed in the Account menu under actions, advanced, $account, clear devices. But gajim doesn't provide a hook for this yet. We should ask the gajim developers to provide one.

[2016-03-27 13:03] iNPUTmice commented on #44
What devices are you talking about? Is the related to #45 I'm not seeing a list of devices anywhere.

[2016-03-28 11:51] bugspencor commented on #48
I had a similar problem. In the end I could solve it by installing protobuf 2.6.1 from pip (3.0.0a from pip and the older 2.5.0 from Ubuntu Trusty threw python errors.)

[2016-03-29 10:40] kolAflash commented on #48
Thank you bugspencor!
That helped me a lot.

I got two versions of protobuf installed.

protobuf 2.5.0 at `/usr/lib/python2.7/site-packages/`

And protobuf 2.6.1 at `/home/user/opt/gajim/lib/python2.7/site-packages/`.

I use `PYTHONPATH=/home/user/opt/gajim/lib/python2.7/site-packages` to get modules from that directory. Sadly Python always prefers modules from `/usr/lib/python2.7/site-packages/`

[2016-03-29 19:49] bugspencor commented on #48
Python uses always PYTHONPATH to locate the modules, from left to right. Python magically adds some paths to sys.path, even if PYTHONPATH is empty (like on my Ubuntu). You can check the sys.path by entering in python:

For me it's:

[code]

[2016-03-30 12:38] kolAflash commented on #48
Thanks. I also realized how PYTHONPATH works. But it seems like Python is always using packages from PYTHONHOME before any package from PYTHONPATH.

Changing PYTHONHOME to anything else than /usr (where Python is installed) makes Python miss essential packages.

To only option seems to be, to install a complete separate Python instance somewhere else. At least unless anyone knows a way to force Py

[2016-04-01 09:31] silberzwiebel opened #51 "messages don't appear when using different clients"
Hi,

I'm using Conversations on Android and gajim + OMEMO plugin on two PCs (Fedora 23) with a self-hosted prosody server.
OMEMO encryption is enabled on all clients.
At least with one contact, however, the OMEMO encrypted messages only appear on Conversations. I can send messages with both clients and apparently they are successfully sent and received by the contact. But if he responds, the messa

[2016-04-05 09:35] silberzwiebel commented on #51
Tested this again with the plugin version from this repo (before I used the 0.4 version available from within gajim). I also removed the omemo_....db file in `~/.local/share/gajim/`because I think this is a problem of missing keys and this could help to fetch the missing keys. However, messages still don't appear. [Here is a part of the output of `gajim -l gajim.plugin_system.omemo=DEBUG -v` that

[2016-04-07 23:05] lepasserby commented on #12
Pardon me, but is there a definitive guide here to "making this plugin work on Windows version of Gajim" ? (I did try to follow the wiki, but I'm not getting any success)
@yann-l could you go into more details as to how to got to the "at least we can exchange messages" stage?

[2016-04-08 05:06] asterismo opened #52 "Cannot install OMEMO in Gajim-nightly"
Hi guys I'm sorry to bring this up again, but i cannot install OMEMO plugin via the plugin manager on gajim-nightly. I added the gajim unstable repo in my Debian 8 jessie, installed via sudo pip2 the axolotl, and messages show a sucsessfull installation, and OMEMO shows up as installed when enabling it from the plugin, but i got the warning in the textbox about the python-axolotl. The plugin does

[2016-04-11 02:33] qamble opened #53 "win gajim plugin manager: masochistically slow. manually install?"
Without needing to be a programmer or compile something is there a less painful way to download something to unzip or copy OMEMO plugin to a windows directory?  Plugin manager is horribly slow!  Gajim keeps freezing.

[2016-04-11 02:42] qamble opened #54 "You need to install python-axolotl via pip to run this plugin."
What is this or how do I do this?  The plugin manager finally successfully downloaded OMEMO after I created a ticket.  Such is my life.

windows 8.1 64bit

[2016-04-11 08:48] kalkin commented on #53
Hi,

I'm sorry to hear this.  You should open an issue in gajim trac.

[2016-04-11 08:48] #53 closed

[2016-04-11 08:53] kalkin commented on #54
Pip the PyPA recommended tool for installing Python packages.

Always be patient young padawan :smile:

I only use free software, I can't help you ☹. If you are really interested in getting to run it on windows see #12 and please report your progress there. Patches are welcome.

[2016-04-11 19:11] arebokert commented on #12
I tried the guide provided by @lovetox but it does not work. I followed it thoroughly but the plugin won't activate, and the config button in plugins shows an empty box when I click it.

Could anyone provide the compiled files to see if that works?

[2016-04-12 09:16] lovetox commented on #12
here: http://www45.zippyshare.com/v/C4Yq5X6W/file.html

it is enough if you copy all the files into
C:\Program Files (x86)\Gajim\bin

please report if you encounter the same error as we after that

though it could be that i went wrong somewhere in compiling the dependencies and that the error comes from that.

so if someone is able to do this himself it would be better.

[2016-04-12 11:21] arebokert commented on #12
@lovetox Thank you. I tried the Get Device Keys 1 and got the same trace.

[2016-04-12 11:28] lovetox commented on #12
yes welcome to the club

maybe @kalkin has time to build in some more error catching so we can pin this down :)

[2016-04-12 11:53] kalkin commented on #12
@arebokert @lovetox Can you add to the assert and try again:

[code]

[2016-04-12 11:59] arebokert commented on #12
@kalkin Adding that string gave me this.

[2016-04-12 12:02] lovetox commented on #12
for me

[code]

for me it works under linux with the same account, i use jabber.at and conversations at the other end

[2016-04-12 12:02] kalkin commented on #12
On 04/12/2016 01:59 PM, Erik wrote:

Looks like you receiving no data from server. Did OMEMO work for you in
Linux with the same account? (Just to rule out, that the server is
sending weird stuff).

kalkin-

[2016-04-12 12:06] arebokert commented on #12
@kalkin I think I forgot to escape one of the arrows in my comment, now it shows the whole string as follows.

[2016-04-12 12:10] kalkin commented on #12
@arebokert @lovetox Can you guys just remove this assert line and try it? Because the string looks right, but for some reason, it not of the class Node which it should be.

[2016-04-12 12:13] lovetox commented on #12
lol seems to work now, i can send encrypted messages at least, waiting for my gf to reply :)

i will test this in the evening more and get back to you
more interesting is why this line of code works under linux and not in windows

[2016-04-12 12:18] arebokert commented on #12
I removed the assertion and my contact on conversations is saying that omemo is indeed working. I'm using prosody as a server.

[2016-04-12 12:19] yann-l commented on #12
Please see https://github.com/omemo/gajim-omemo/issues/12#issuecomment-192982330

I proposed a way to fix this assert line

[2016-04-12 12:19] lovetox commented on #12
maybe this has to do something with google protobuf?
does that not have to do something with transforming data back to objects/classes after transfer?! maybe something goes wrong there, maybe we use another version on windows ect

[2016-04-12 12:19] kalkin commented on #12
On 04/12/2016 02:13 PM, lovetox wrote:

May be something is different in the simplexml Windows version? Or may
be I just fucked up somewhere. ☹

[2016-04-12 12:20] kalkin commented on #12
On 04/12/2016 02:13 PM, lovetox wrote:

May be something is different in the simplexml Windows version? Or may
be I just fucked up somewhere. ☺

[2016-04-12 12:20] arebokert commented on #12
@yann-l I tried changing the assertion line to the one you suggested before I tried anything else but still got a traceback error.

[2016-04-12 12:21] kalkin commented on #12
@yann-l Indeed, stupid stupid mistake on my side.

[2016-04-12 12:22] yann-l commented on #12
@arebokert me too, but not on this line anymore

[2016-04-12 12:24] kalkin commented on #12
Can some one post the new traceback?

[2016-04-12 12:26] lovetox commented on #12
i dont have any, with deletion of the assert line everything works until now

[2016-04-12 12:29] yann-l commented on #12
I had those tracebackes when I tested:http://conference.gajim.org:5280/muc_log/gajim/2016-03-06/#21:16:42

[2016-04-12 12:34] kalkin commented on #12
@yann-l The url you provided does not work for me. The server keeps the connection open but does not send any data

[2016-04-12 12:35] yann-l commented on #12
and this one ? http://conference.gajim.org:5281/muc_log/gajim/2016-03-06/#21:16:42

[2016-04-12 12:39] iNPUTmice commented on #12
[code]

and

[code]

this looks like your database is corrupt maybe from previous attempts

[2016-04-12 12:40] iNPUTmice commented on #12
@yann-l for the time I would recommend just deleting the database and start over. If it happens again please try to make it reproducible.

[2016-04-12 12:40] kalkin commented on #12
@yann-l the second link works

[2016-04-12 13:13] kalkin commented on #12
So Gajim-OMEMO has now Windows support?

[2016-04-12 13:15] kalkin commented on #12
@yann-l It would be great if you can add `python-axolotl` and other dependencies to default Gajim windows distribution.

[2016-04-12 13:17] yann-l commented on #12
I'll re-test when I have time and will ship python-axolotl with installer if it works. But I think a small tuto in the wiki could help. I have no idea what the buttons are for and what they mean for example.

[2016-04-12 13:21] lovetox commented on #12
also `google protobuf` and this file is needed `pkg_resources.py`

[2016-04-13 16:15] ilsi commented on #52
Hi,

I also had problems with OMEMO after upgrade protobuf to version 3.0.0b2. Downgrading solved the issue for me. You could try to downgrade this package:
`sudo pip install 'protobuf>=2.6,<3.0.0'`

[2016-04-13 18:50] lovetox commented on #36
i cant reproduce this, im on jabber.at

if i go offline, and send a message from my phone using conversations, after i go online with gajim i get a notification with the message.

[2016-04-13 18:55] lovetox commented on #19
so fixing gajim http upload plugin to use encryption is only one issue described here.

the second is that omemo doesnt decrypt the message with the link to the file correctly if sent from conversations. i get a link but it points to an invalid address.

[2016-04-13 19:02] iNPUTmice commented on #19
@lovetox you can use my [ImageDownloader](https://github.com/iNPUTmice/ImageDownloader) to decrypt the image link. I'm combining that with an [openbrowser wrapper](https://gist.github.com/iNPUTmice/b5667a61d17bffb33c23) (change the browser in the gajim settings to that script) and it magically opens the image when you click on the link.

(Not an actual solution for the problem but a pretty good wo

[2016-04-13 19:05] lovetox commented on #19
@iNPUTmice thanks i will try this.

just out of curiosity
why are the links conversation produces longer and different in format? is there some added security involved?

EDIT: haha sorry i just read this
`When Conversations uploads an encrypted image with XEP-0363: HTTP Upload it appends the encryption key as an anchor to the URL.`

[2016-04-13 19:07] iNPUTmice commented on #19
longer and different compared to what? The Readme in that repo has a small explanation of the crypto involved.

[2016-04-13 19:08] lovetox commented on #19
yeah clicked the link after writing the message, thanks i will try this :)

[2016-04-13 20:53] mapama commented on #36
You're right my steps to reproduce weren't precise enough. I had to exclude the scenario @lovetox described. I think @lovetox scenario is different because there is no other third client catching away the message while gajim is offline. In this case ejabberd stores the message as offline message and deliver it to gajim when coming online.

The situation that didn't work for me is as follows:
Bob h

[2016-04-14 11:02] shr000ms commented on #12
I testet it and after adding the Fix assertion bug I was able to send and receive omemo encrypted messages with conversations.
But when I restarted gajim I got the following error message. And the omemo settings inside the chat window are gone.
I can receive omemo encrypted messages from conversations, but when I send a message to conversations I can only see myself typing. I don't receive the mes

[2016-04-14 14:27] lovetox commented on #36
so do you get the message if gajim and conversations are online in both clients?

also are you using the current branch, or are you using the FTP version 0.4

i cant try this out right now.

[2016-04-14 15:03] mapama commented on #36
Yes if both clients are online I receive the message in both. I am using version 0.4. Right now I can't test it with the current branch.

[2016-04-15 19:15] kalkin commented on #52
@asterismo Was the issue solved for you?

[2016-04-15 19:17] kalkin commented on #12
@shr000ms Try gajim issue tracker looks to me like a gajim issue if it persist even if the OMEMO plugin is disabled

[2016-04-16 15:34] mapama commented on #36
Ok, tested with the current branch but this doesn't matter. It doesn't work. Tested with two mobile clients running conversations and one client running gajim. Go offline with gajim send a message from one of the mobile clients. The second mobile client receive this message. Go online with gajim but the messages is missed in the chat history.

[2016-04-20 14:51] Cose-3D commented on #12
I have windows 7 and after this error message nothing happens apparently

[code]

[2016-04-20 20:52] lovetox commented on #12
i guess you downloaded the plugin here? and not over the plugin ftp function in gajim?
i dont think that has something to do with omemo
try to see if there is an update for the "plugin installer" component under the Plugins section in Gajim.

@kalkin could you push a new version to the gajim ftp, with plugin working now on windows is i think a great enough change that its worth a new version.

[2016-04-20 21:30] Cose-3D commented on #12
@lovetox yep

[2016-04-20 21:52] lovetox commented on #51
@iNPUTmice could that be a bug with conversations?

could you check if your chat partner in conversations has a fingerprint activated for each of your devices?

[2016-04-20 21:55] lovetox commented on #12
i would download all updates for plugins which are available especially the plugin installer, then download omemo from within gajim, then download the version here, and replace the files.

beware the folder tree is different if you download here, so dont just copy paste the omemo folder

[2016-04-20 23:41] lovetox commented on #51
so i set up a windows pc with gajim, a linux with gajim, both logged into the same account
talking both to conversations.

works alright for now in every direction.

did your friend on conversations ever delete a fingerprint?
does conversation has both fingerprints under contact details?
are both of your other clients use the version from github?
are you sure you are on version 0.16.5 of gajim?

[2016-04-22 11:26] silberzwiebel commented on #51
My chat partner has 4 OMEMO fingerprints in the contact details of my XMPP-account, although I'm using only 3 clients: 2 x gajim (desktop and laptop) and 1 x Conversations.
In my own contact details of my Conversations, I also have 4 OMEMO fingerprints (the one from Conversations and three more).
I clicked the button "Clear Device Keys" randomly on gajim (it is not clear to me what it is supposed

[2016-04-22 14:47] kalkin commented on #12
@lovetox
Does the current HEAD work for you? After @iNPUTmice fiddling with it, it's partly broken for me, but I can't pinpoint if it's  Gajim or OMEMO, because  I currently don't have the time or desire to debug this peace of ⚛☠☆ called Gajim.

Also deploying an update to FTP means every one will need to re-enable the plugin after update, because Gajim will go haywire if you are reloading a plugi

[2016-04-22 21:28] lovetox commented on #12
it does work for me on windows and on ubuntu

[2016-04-23 09:51] kalkin commented on #12
@lovetox Ok, I will push out a new version in few days. Thank you and other for your patience and help.

[2016-04-23 12:35] Cose-3D commented on #12
@lovetox I cannot click to enable the omemo plugin, it's grey. Maybe I don't have python-axolotl? How the heck do I install it. It's really trublesome for a windows user.

[2016-04-23 16:08] therob84 commented on #12
Nice to see you working on this!
I would also love to have a short HowTo for getting OMEMO running under Windows without the need to compile myself some stuff...
Thanks a lot!

[2016-04-23 21:03] lovetox commented on #12
here are the dependencies: http://www45.zippyshare.com/v/C4Yq5X6W/file.html

it is enough if you copy all the files into
C:\Program Files (x86)\Gajim\bin

download the plugin first over the plugin setting in gajim

then download this version here, and replace the files in
C:\Users\xxxx\AppData\Roaming\Gajim\Plugins\omemo

the file tree in the zip (downloaded source code from here) is a bit differe

[2016-04-24 01:30] Cose-3D commented on #12
@lovetox After installing the dependancies I finally had the OMEMO buttons (OMEMO didn't work though), then I replaced the files in the appdata folder as you told me but after that change the buttons disappeared...

[2016-04-24 10:35] podkilla commented on #12
@lovetox thanks for the howto but sadly it does not work for me this way. no idea why but in gajim it is still all the same - plugin is installed but i cannot activate it.
i also tried to compile it by myself installed gcc from minigw but compilation process stops with an error. i tried both 32bit and 64bit versions of python.
i am on win10 enterprise atm.
i will just wait for further information

[2016-04-24 12:29] lovetox commented on #12
@edo44 buttons dissapearing points to a not working plugin / error in loading the plugin.
i decribed it misleading, you have to overwrite the `plugins\omemo\omemo` with `gajim-omemo-master\lib\python-omemo\src\omemo`

and additionally overwrite the other files in `plugins\omemo` (xmpp.py ..)

tell me how it went

[2016-04-24 12:37] lovetox commented on #12
@kalkin this symlink you set to the omemo library, is only working with linux, this makes it harder for windows users to download the github version and using it, cause they have to copy the omemo library to the right place.

it this really necessary? can this be solved another way?

[2016-04-24 14:07] Cose-3D commented on #12
@lovetox I removed OMEMO, reinstalled from the plugin installer, replaced the python files of that folder. It still doesn't work for some reason. (I can't see the buttons)

[2016-04-24 14:48] PureW opened #55 "protobuf 3.0.0b2.post2 AttributeError"
I kept getting the message "Please install axolotl" even though python-axolotl was install systemwide (/usr/local/lib), in local virtualenv, both for python2 and python3.

Turns out something else is amiss. I changed the log-message above into the full traceback by changing https://github.com/omemo/gajim-omemo/blob/master/__init__.py#L45 into `log.exception("crash")`.

See the following traceback,

[2016-04-24 20:09] yann-l commented on #12
I already built a windows installer with the omemo libraries included. Just waiting some feedback before I publish it. If some of you want to test it's here:
https://gajim.org/downloads/snap/win/gajim_0.16.5_axolotl.exe

[2016-04-24 20:15] arebokert commented on #12
@yann-l I uninstalled gajim and downloaded the version you provided. It seems to work fine with omemo without any external dependencies needed. One thing I got though was this error on first start. It went away after I started it the second time:

https://codebo.xyz/24-04-16-1g.png

[2016-04-24 20:18] yann-l commented on #12
yes ... some of you have this problem. Maybe an intl.dll file already installed on the machine and used by the installer, and a different on used by Gajim, but as Gajim is launched by the installer, that may be the problem. I couldn't reproduce and never find a good solution to that.

[2016-04-25 01:42] Cose-3D commented on #12
I also installed it and now I can see the buttons (!!) with no errors. But I still can't make it  work with Conversations somehow... And I'm using Openfire as XMPP server, which supports PEP: https://www.igniterealtime.org/builds/openfire/docs/latest/documentation/protocol-support.html

[2016-04-25 05:36] kalkin commented on #12
@lovetox We can remove it. [python-omemo](https://github.com/omemo/python-omemo) will be killed in favor of the [matrix olm](https://matrix.org/git/olm/tree/) implementation (I'm just waiting that Conversations get's support for it.), so there is no need in a standalone python-omemo library and for now we can go back to just dropping the code in to gajim-omemo directly.

[2016-04-25 05:39] kalkin commented on #12
About releasing a new version of gajim-omemo: There are some issues with the latest protobuf version which I want solve, before releasing.

[2016-04-25 05:42] kalkin commented on #12
@lovetox Congratulations you are a team member now and you have push access. Use your powers wisely and only for good :smile:

[2016-04-25 05:44] kalkin commented on #55
Downgrade to `protobuf==3.0.0b2` this is a known error, I'm working on it.

[2016-04-25 05:45] #54 closed

[2016-04-25 05:50] kalkin commented on #52
OMEMO should work with `protobuff==3.0.0b2`. It has issues with the version `python-protobuf 3.0.0b2.post2`. Please see #55. I will close this issue for now as a duplicate,but if you think you have a different error, feel free to comment and I will reopen this issue

[2016-04-25 05:50] #52 closed

[2016-04-25 05:52] kalkin commented on #48
@kolAflash So is your issue solved? I close this bug, if you still have issues, please comment and i will reopen.

Thank you @bugspencor for handling this

[2016-04-25 05:52] #48 closed

[2016-04-25 05:53] #45 closed

[2016-04-25 05:53] #41 closed

[2016-04-25 05:54] kalkin commented on #35
This issue should be solved. I will close it, please feel free to comment if you are still experiencing it and i will reopen it.

[2016-04-25 05:54] #35 closed

[2016-04-25 05:55] kalkin commented on #26
Can you please try the current HEAD? I think @iNPUTmice fixed this

[2016-04-25 06:47] ghost commented on #50
Just had this issue with 0.4 as well, and updating the plugin to current HEAD indeed fixed it. Thanks!

[2016-04-25 06:50] kalkin commented on #50
@nobse Thanks for response closing this.
@hannob This issue should be solved. I will close it, please feel free to comment if you are still experiencing it and i will reopen it.

[2016-04-25 06:50] #50 closed

[2016-04-25 09:23] hannob commented on #50
It would be easier to test if you could land this fix in a release...
(but the person with whom I had this bug is notoriously offline at the moment)

[2016-04-25 09:37] kalkin commented on #50
I'm working on a release, there is an issue (#55) which needs to be solved, so I don't get half a dozen new issues.

[2016-04-25 10:45] kolAflash commented on #48
For me it's kind of solved.

But in general you should consider giving a better error message. Everyone who runs into this will have a hard time to figure out what's happening, because the error message is quite misleading. (see my first comment)

[2016-04-25 13:14] da2x commented on #45
Device 1 and 2 is disabled at the bottom of chat windows.

[2016-04-25 13:15] da2x commented on #45
Shown here with just one device, but multiple devices will be added horizontally right next to this button labeled “Device 1”, “Device 2”, etc.
![screenshot from 2016-04-25 15-14-48](https://cloud.githubusercontent.com/assets/1102886/14784963/800bcbe0-0af8-11e6-8d46-c29527d3c501.png)

[2016-04-25 15:08] iNPUTmice commented on #45
@Aeyoun ok thanks for clearing that up. That button means 'Get 1 device key' or 'Get 2 device keys' and not get keys for: device 1.

But that should be renamed nonetheless.

[2016-04-25 18:20] lovetox commented on #12
thanks @yann-l , @kalkin

@edo44
create an account at jabber.at, and try it. to rule out a server issue

[2016-04-25 18:55] Cose-3D commented on #12
@lovetox I made 2 accounts at jabber.at but the result is the same. So the problem is Conversation or Gajim+omemo (so Gajim I suppose).

[2016-04-25 19:43] lovetox commented on #12
did you press the "Get Device Key" Button?

whats exactly the problem?
are the message not coming through?
are the messages coming through if you uncheck the omemo checkbox in the chat window?

[2016-04-25 20:27] Cose-3D commented on #12
@lovetox Sorry now for some reason I don't have the buttons anymore so I cannot make you a screenshot... Whenever I pressed "Get the Device Key" or Clear Keys I always had pyhon errors by the way.

And whenever I enabled OMEMO I couldn't send anything.

[2016-04-26 00:32] Cose-3D commented on #12
Here the error I get when I click "Get device Key" :

And sorry if I am off topic but I don't know where to  ask. I tried to install gajim in my ubuntu 16.4 machine, but after installing plugins and dependancies the program crashes at startup, here's the error:

`gajim
Traceback (most recent call last):
  File "gajim.py", line 533, in <module>
    interface.run()
  File "/usr/share/gajim/src/gui_i

[2016-04-26 11:19] kalkin commented on #12
@edo44 You are using the plugin installed from PluginManager, right? It looks to me like a bug which @iNPUTmice solved in HEAD. Can you please tryout the HEAD?

[2016-04-26 13:07] dreamflasher commented on #12
I'm getting the same error as @edo44 with https://gajim.org/downloads/snap/win/gajim_0.16.5_axolotl.exe which was provided by @yann-l. Windows 10 x64.
@kalkin How can I tryout HEAD without building under windows? (The problem is that curve doesn't build on py2.7)

[2016-04-26 13:17] kalkin commented on #12
On 04/26/2016 03:07 PM, Marcel Ackermann wrote:

Just replace the omemo plugin directory installed by the plugin manager,
with the omemo directory from this zip:
https://github.com/omemo/gajim-omemo/archive/0.5-rc1.zip

[2016-04-26 13:23] dreamflasher commented on #12
now the generate keys buttons are gone again ^^ This is quite utterly broken...

[2016-04-26 13:26] kalkin commented on #12
On 04/26/2016 03:23 PM, Marcel Ackermann wrote:

There is no "Generate Key" button. Is the OMEMO Plugin listed in the
plugin manager and is it enable?

[2016-04-26 13:38] dreamflasher commented on #12
Yes it is. Oh no generate key button anymore? How can I compare fingerprints or see that encryption is enabled?

[2016-04-26 13:41] kalkin commented on #12
On 04/26/2016 03:38 PM, Marcel Ackermann wrote:

There were never a generate key button, to begin with :)

By implementing this feature :grin:

[2016-04-26 13:44] dreamflasher commented on #12
Sorry my fail. I meant "Get device Key" all the time. This button is now gone. Should it be there?

[2016-04-26 13:47] kalkin commented on #12
On 04/26/2016 03:44 PM, Marcel Ackermann wrote:

Only if you are missing Device Keys for starting an encrypted
conversation. You should see the OMEMO checkbox in your conversation window.

[2016-04-26 13:50] dreamflasher commented on #12
There is no OMEMO checkbox.

[2016-04-26 13:52] kalkin commented on #12
On 04/26/2016 03:51 PM, Marcel Ackermann wrote:

Does your chat partners client support OMEMO? It's only showed if he
supports it.

[2016-04-26 13:53] dreamflasher commented on #12
Yes. (and it has been showing before replacing with the latest version)

[2016-04-26 13:56] Cose-3D commented on #12
@kalkin replacing the omemo folder doesn't allow me  to even enable the OMEMO plugin anymore.

[2016-04-26 14:08] dreamflasher commented on #12
ha, the symlink doesn't work under windows. Solution: `lib/python-omemo/src/omemo` needs to be copied in `Gajim\Plugins\omemo\omemo` -- now there is the OMEMO checkbox and the "Get device Key" works! Thank you!

[2016-04-26 14:13] kalkin commented on #12
On 04/26/2016 04:08 PM, Marcel Ackermann wrote:

Yes I completely forgot about this issue on windows. Will fix that
before release 0.5. Thank you.

[2016-04-26 14:36] lovetox commented on #12
@edo44 try this, exchange the `omemo` folder with this folder in the zip, in your plugins directory.

for windows:
http://www10.zippyshare.com/v/buJ3LyTU/file.html

[2016-04-26 14:55] Cose-3D commented on #12
@lovetox This works! Finally!

Now sending images via OMEMO has issues, apparently Gajim cannot decode the recieved file, also it doesn't encrypt the uploaded file, while Conversations does both things without any problem even via OTR.

[2016-04-26 16:32] adoa opened #56 "Gajim fails to start (due to omemo?) after upgrade to Ubuntu 16.04"
Hey guys,

a few days ago I upgraded my Ubuntu from 15.10 to 16.04. Since then something strange happened with gajim and omemo:
Gajim fails to start and I get a traceback that looks like this:
[code]

To me this looks as if omemo was trying to recover something from my messaging history, but fails. I tried to reinstall gajim (version 0.16.5 now from the ubuntu repos) and to reinstall the omemo plu

[2016-04-26 16:34] kalkin commented on #56
Downgrade to protobuf==2.7 . This is a known issue in Gajim 0.16.5 I'm
working on it.

[2016-04-26 16:35] lovetox commented on #12
@edo44 picture decryption works partly, there is a plugin which is called "image preview" download it with gajim. in the settings activate to decrypt everything under 10MB

if you get a link it needs about a minute, until the link is decrypted and you can see it in the chat.

encrypted upload is at the moment not supported by the http-upload plugin of gajim

[2016-04-26 16:46] adoa commented on #56
had to use protobuf==2.6.1 but the downgrade worked. Thanks for the quick answer!

[2016-04-26 17:18] Cose-3D commented on #12
@lovetox But "Image preview" does not allow to download the image, it only shows the preview.

[2016-04-26 17:25] lovetox commented on #12
yes, that is correct.

[2016-04-27 07:56] iNPUTmice commented on #12
@edo44 to download and decrypt images (or other files for that matter) have a look at https://github.com/iNPUTmice/ImageDownloader

[2016-04-27 12:53] #56 closed

[2016-04-30 17:53] nerdy-sam commented on #47
Encrypted MUC on Conversations is working now. Would be really nice to be able to participate from non-andriod device with gajim! :)

[2016-04-30 23:31] Noah-Huppert opened #57 "Ubuntu Gajim: not detecting python-axolotl"
**OS**: Ubuntu 16.04 xenial
**Python**: Python 2.7.11+
**PIP**: pip 8.1.1 from /usr/lib/python2.7/dist-packages (python 2.7)
**Gajim**: 0.16.5

[code]

*If you would like me to run any more commands to get information about my system I would be glad to provide their outputs.*

---
After installing the `gajim-omemo` plugin via the Gajim UI I saw the warning and installed `python-axolotl` via PIP an

[2016-05-01 06:53] iNPUTmice commented on #57
I think this could be duplicate. Please read through previous issues and double check

[2016-05-01 14:20] lovetox commented on #57
https://github.com/omemo/gajim-omemo/issues/55

check your protobuf version.
the message itself "please install axolotl" could mean other dependencys are missing.

[2016-05-02 17:20] akallabeth opened #58 "[tag 0.5] version information not up to date"
```manifest.ini``` and ```pkgs/PKGBUILD``` are still set to ```0.4```

[2016-05-03 16:16] kalkin commented on #47
This is on a TODO list, but the fastest way to get it is a PR! :grin:

[2016-05-03 16:25] kalkin commented on #58
@cippaciong could you be so nice and update the PKGBUILD?

[2016-05-03 18:14] #58 closed

[2016-05-03 19:08] asterismo commented on #48
So, what are the steps to fix this? i cannot use OMEMO when installing latest Gajim and python-axolotl deps. Is this fixed now?

[2016-05-03 21:24] lovetox commented on #48
check your protobuf version it should be

protobuf==3.0.0b2

[2016-05-04 08:00] RalfJung commented on #26
Nope, getting this error with current master:

[code]

[2016-05-04 09:02] kalkin commented on #26
@RalfJung can you please delete your omemo sql databases and strart from scratch?

[2016-05-04 09:07] RalfJung commented on #26
Which file would that be? Which data would I lose?

[2016-05-05 09:33] kalkin commented on #26
`rm -i ~/.local/share/gajim/omemo_*.db`

[2016-05-05 09:56] RalfJung commented on #26
That doesn't answer the second part of my question: Which data would I lose? Is this just some temporary caches, or do I lose actual user data like the keys I accepted for peers?

[2016-05-05 09:58] RalfJung commented on #26
Nope, it did not help. On first start after deleting the DB, I get

[code]

It is well possible that this Jabber server does not support some of the necessary XEPs. However, that should just lead to Omemo not working, it shouldn't result in uncaught exceptions.

[2016-05-05 10:00] RalfJung opened #60 "Pressing "Get Device Keys" should show some immediate reaction"
When I press "Get Device Keys", it sometimes takes up to 30 seconds until the button disappears. That makes it look like pressing the button did not do anything. There should always be *some* immediate reaction to signal to the user: Yep, I got you, working on it.
For example, the button could turn into some text, "Fetching Device Keys... <Cancel>" (or mayb cancelling makes no sense).

[2016-05-05 10:22] kalkin commented on #26
@RalfJung can you provide my an account on this jabber server for testing? You can send it me via mail. [GPG Key and Mail](http://bahtiar.gadimov.de/)

[2016-05-05 10:23] RalfJung commented on #26
Unfortunately not -- this server is provided by my institute, and only institute members get an account. Sorry.

[2016-05-05 10:25] kalkin commented on #26
Will add some debug code which will try to find out what is missing.

[2016-05-06 15:23] djmaze commented on #55
Downgrading to `protobuf==3.0.0b2` doesn't solve the problem for me. Same error as @PureW. Arch Linux, gajim 0.16.5.

[code]

[2016-05-06 15:36] kalkin commented on #55
I have to correct my self: downgrade to protobuf 2.7 or upgrade to Gajim 0.16.6

[2016-05-06 15:53] djmaze commented on #55
Ok, so as 0.16.6 is not yet out, the critical change is probably [this one](https://trac.gajim.org/changeset/36cecfcc49f3adc70c9783df656594125beb72f6/)? At least the plugin seems to be correctly working after manually applying the change.

[2016-05-06 16:02] kalkin commented on #55
@djmaze Exactly!

[2016-05-09 18:43] exul commented on #36
I can reproduce this on my server that runs prosody:

[code]

I logged the output with `gajim -l gajim.plugin_system.omemo=DEBUG -v` you can see it here: https://gist.github.com/exul/7e751ed9b0b5ff7c5647c998f18c44ca

Gajim version is `0.16.5`

If you need an account or more information, just let me know.

[2016-05-10 10:16] silberzwiebel commented on #51
I just had this issue (or at least a related one) with a different contact.
Chatting with gajim at a laptop and at the same time with conversations. Messages came through most of the time but stopped to appear in conversations now for some time.
Since my server was under heavy network load, my best guess is now the following: Conversations was offline and the messages I send and received were not

[2016-05-10 10:31] user7488 commented on #12
Just checking, following [Compiling dependencies for Windows](https://github.com/kalkin/gajim-omemo/wiki/Compiling-dependencies-for-Windows) is still the way to go?

[2016-05-10 11:30] kalkin commented on #51
@cippaciong Does this look similar to what you are suffering from?

[2016-05-10 11:51] cippaciong commented on #51
Definitely, my problem is very similar to what @silberzwiebel described in the first message.

The scenario looks like this:
1. **Me** with 3 clients: Conversations, Gajim+OMEMO on desktop, Gajim+OMEMO on netbook (both running Archlinux and OMEMO plugin installed from AUR)
2. **Interlocutor A**: Conversations
3. **Interlocutor B**: Conversations

All my OMEMO fingerprints are trusted by my interlo

[2016-05-10 13:50] tristan-k commented on #12
@pedro7 I dont think so, but it's very confusing with all the comments in this issue. I recently installed the plugin on Windows 10 with the setup files from https://gajim.org/downloads/snap/win/gajim_0.16.5_axolotl.exe and it works.

[2016-05-10 15:02] lovetox commented on #12
this problem will be gone as soon as gajim releases 0.16.6, dependencies will be included then

for now use the download link tristan-k provided for gajim. and download the plugin through gajim, should be working without further hacks.

[2016-05-10 15:12] lovetox commented on #12
i wrote a Wiki on Installing on Windows

https://github.com/omemo/gajim-omemo/wiki/Installing-and-Using-on-Windows

[2016-05-10 15:13] #12 closed

[2016-05-10 15:26] lovetox commented on #60
why not deleting this button and get the keys automatically?
is there a reason to _not_ get the device keys ever?
@kalkin

[2016-05-10 16:05] asterismo commented on #55
How do i downgrade that lib? is that safe?

[2016-05-10 17:42] RalfJung commented on #60
Well, certainly we don't want to trust any random device key appearing for a contact.

[2016-05-10 18:01] lovetox commented on #60
to decide if you trust a key or not, you first have to get it, or not?
of course the key should be shown and a decision should be made to accept or not.
but i think this is covered by another issue.

[2016-05-10 23:20] kalkin commented on #55
@asterismo should be safe.

[code]

[2016-05-10 23:51] asterismo commented on #48
Downloading/unpacking protobuf==2.6.1
  Downloading protobuf-2.6.1.tar.gz (188kB): 188kB downloaded
  Running setup.py (path:/tmp/pip-build-jQ5Xtx/protobuf/setup.py) egg_info for package protobuf

[code]

Downloading/unpacking python-axolotl==0.1.35
  Downloading python-axolotl-0.1.35.tar.gz
  Running setup.py (path:/tmp/pip-build-jQ5Xtx/python-axolotl/setup.py) egg_info for package python-axolotl

[2016-05-12 21:49] asterismo commented on #55
Nope, this is really frustrating. I have gajim-nightly installed, and installed those versions of protobuf and axolotl you mentioned. Now i just upgraded all libs and i'll sit and wait until this eventually work with latest versions of everything.

[2016-05-17 11:39] RalfJung commented on #60
Well, so far the plugin employs a TOFU strategy. Until that is changed (which that other, unnamed issue is about, if I understand you correctly), doing automatic acceptance of keys instead would be a horrible security mess.

[2016-05-18 18:00] Mikaela commented on #38
This also makes maintaining list of your keys on your website quite difficult as you have no idea what the fingerprints are and it's not as reliable to just check what fingerprints other client (Conversations).

[2016-05-23 07:25] amenk commented on #36
I am not sure if the bug is as described.

I have the following case:

Server = Ejabberd with MAM
1. Go offline in Gajim
2. Write in Conversations (Android) with OMEMO
3. Go online in Gajim
4. Open history in Gajim -> Message is there

But:

If a contact sends the message using Gajim with OMEMO, it is not stored in the MAM (verified using database dump in ejabberd). So it looks like Gajim does not

[2016-05-23 07:38] iNPUTmice commented on #36
I'm not sure if this is related to the rest of the thread but this can be solved by adding the <store/> hint to outgoing messages.

[2016-05-23 07:39] amenk commented on #36
[yes, offtopic] Gajim seems to be sending <no-permanent-store xmlns="urn:xmpp:hints" /> - any clue how that hint can be removed?

[2016-05-23 07:54] iNPUTmice commented on #36
5320144d09002381a9c3ef8ecba34a3c0b301d47 adds the store hint. Not sure if this fixes OPs issue though. (This would require that the sending client in OPs case is gajim)

[2016-05-23 08:00] amenk commented on #36
I am online also in a second client ...

[2016-05-23 08:03] amenk commented on #36
Thanks for the patch @iNPUTmice - It does not seem to fix the Problem with Gajim - I will have a look at the messages exchanged...

[2016-05-23 08:18] amenk commented on #36
I think the <store> hint has to be outside of the `</encrypted>` block? See my comparison between what conversations and what gajim sends ...
![selection_125](https://cloud.githubusercontent.com/assets/1087128/15464451/b8a79b72-20cf-11e6-8608-3a171c8ff4be.png)

[2016-05-23 08:37] iNPUTmice commented on #36
272187ce60df66384ea93bf1db97ed08257cf936

[2016-05-23 08:51] amenk commented on #36
Seems to work! Thank you so much!

[2016-05-23 08:55] mapama commented on #36
Strange, in that case the messages don't appear in my chat history in gajim. What could be the problem?

[2016-05-23 08:56] amenk commented on #36
Are you sending from Gajim? Does it work when sending i.e. from Conversations? Then the above patch is for you :D

[2016-05-23 09:12] mapama commented on #36
I tried the patch. But it doesn't help. I am sending from conversations. The recipient is online with conversations and offline with gajim. Going online with gajim, the message is missing in the chat history.

[2016-05-23 09:15] iNPUTmice commented on #36
@mapama What's the chat history? The history in the current chat window or the 'History Manager'?

[2016-05-23 09:25] mapama commented on #36
@iNPUTmice Not the current window. That one I get with Ctrl-H.

[2016-05-23 10:00] lovetox commented on #36
i can reproduce this now, with the patch from @iNPUTmice my outgoing xml from Gajim looks like this

[code]

[2016-05-23 10:18] lovetox commented on #36
hm seems like my MAM is not working at all gajim querys the server but gets no response at all

[code]

[2016-05-23 15:31] mapama commented on #36
I can confirm this. It seems that MAM is not working anymore in gajim. I don't understand these strange thing. Even with disabled OMEMO the messages are not stored by MAM.

[2016-05-24 17:40] kalkin commented on #36
If this is a Gajim issue, may be @yann-l can have a look at that?

[2016-05-24 18:23] lovetox commented on #36
it seems jabber.at has a problem with MAM right now they are working on it.

[2016-05-25 14:53] silberzwiebel commented on #51
I'm experiencing this issue right now with different contacts, messages are not appearing at the Conversations side right now. Since some of them don't use an OMEMO capable client, it seems not to be an OMEMO problem. It might actually be also a server problem, I'm running prosody nightly. Nothing remarkable in the logs, though.
Any tips to get closer to this bug?

[2016-05-31 12:56] mapama commented on #36
@lovetox did you find out the problem with jabber.at?

[2016-05-31 14:01] lovetox commented on #36
@mapama they had a problem, but its fixed since a few days, does it still not work for you?

[2016-05-31 14:26] lovetox commented on #36
@mapama you are right still not working, but its not jabber.at fault, mam seems to work, the messages come through but the plugin seems to drop them, im looking into this now

[2016-05-31 14:43] iNPUTmice commented on #36
Are MAM messages for the history window even processed trough the normal message hooks?

[2016-05-31 14:48] lovetox commented on #36
no i dont think so, i tested this, and the message never runs to the MessageReiceivedEvent

There is anohter MamMessageReiceivedEvent maybe its that

[2016-05-31 14:57] lovetox commented on #36
yeah thats it, event is mam-message-reiceived

[2016-05-31 18:07] lovetox commented on #36
@mapama if its not to much work for you you could try my branch

https://github.com/lovetox/gajim-omemo/

i included:
Fingerprint UI (only shows you the fingerprints for now)
You get better notification when OMEMO is disabled or someone writes you unencrypted
MAM Messages should work now

if everything works, i plan to make a pull request

[2016-05-31 18:18] lovetox commented on #51
@cippaciong did you look into the gajim logs if there are any error messages or weird stuff?

you can test this one other way, just write from one client to another where it works
and watch from the client which doesnt get the replies, gajim has a xml console.
if you receive the XML we can rule out some server issue

[2016-05-31 19:52] cippaciong commented on #51
@lovetox I can see Gajim receives the message from the XML console but nothing is displayed in the chat window. The message is probably discarded for some reason.

[2016-05-31 19:55] lovetox commented on #51
@cippaciong

could you start gajim with "-l gajim.plugin_system.omemo=DEBUG"

then reproduce the bug and post whats in the log

[2016-06-01 08:29] mapama commented on #36
Thank you @lovetox MAM is now partially working. The received messages are shown in the history now but not my own carbon copied messages I wrote with conversations. Where do I find the Fingerprint UI?

Thanks a lot for your effort.

[2016-06-01 14:55] lovetox commented on #36
hi i will look into it today or tomorrow, could well be that i missed something

you find it under Plugins -> Omemo -> Configuration
select the account, then switch to the fingerprint tab

remember though the buttons "trust" and "untrust" do nothing, every fingerprint is trusted at the moment, even when the UI shows it as false.

[2016-06-01 15:33] lovetox commented on #36
seems like an encryption issue, i get the messages but cant decrypt them

@iNPUTmice
i get a NoSessionException from the axolotl library.
but only if i get carbon copied MAM Messages.

normal carbon copies without MAM work.

do you have an idea whats maybe missing?

[2016-06-01 17:09] lovetox commented on #36
hm i think its the MAM Catchup that doesnt work or isnt even implemented.
this could take while

[2016-06-01 22:20] lovetox commented on #36
i believe i fixed it
https://github.com/lovetox/gajim-omemo/commit/7a7c5c76cb7cf4fce18b41ce428e8612961f34c6

please try it
@mapama

[2016-06-02 08:50] mapama commented on #36
Thank you so much @lovetox
It seems to work exactly as it should.

[2016-06-02 09:38] cippaciong commented on #51
@lovetox

[code]

But I'd say that the session is actually stored in the db:

[code]

[2016-06-02 13:26] lovetox commented on #51
could you use the omemo from my repo and see if it fixes your problem

https://github.com/lovetox/gajim-omemo

[2016-06-06 17:35] lovetox commented on #60
https://github.com/omemo/gajim-omemo/pull/61/commits/556fee90327e9b07b5de7cd6c7fff2dbbf07e762

[2016-06-06 17:36] lovetox commented on #44
could you expand on your problem please, otherwise i will close this in a view days.

which device list are you talking about that doesnt fit the screen?

[2016-06-08 14:16] #44 closed

[2016-06-10 09:19] alexacra commented on #26
`Gajim 0.16.5, conversations.im, omemo plugin 0.5.1, Ubuntu 16.04`

I see the same error about 25x times on the console after startup, the most appear at the same time:

[code]

[2016-06-10 09:34] lovetox commented on #26
@alexara @RalfJung this error is already fixed, try my repo https://github.com/lovetox/gajim-omemo

it will get merged soon.

it only means, that it couldnt show a warning message, cause the chat window is not open

[2016-06-10 10:34] vanitasvitae opened #63 "Omemo activated but not authorized. messages unencrypted."
Hi! Im using Conversations in my phone and have some accounts on my own ejabberd server. According to conversations, I activated all XEPs needed to use all functions.

Now I wanted to use OMEMO on my desktop as well and gave gajim omemo a try. When I start a chat with another OMEMO capable account on my server, there is a red shield next to the textbox that states that OMEMO is activated, but the

[2016-06-10 10:37] lovetox commented on #63
please try the version from my repo it will get merged soon

https://github.com/lovetox/gajim-omemo

there you have fingerprint button in the chat window, you have to trust the fingerprint, then check if checkbox OMEMO is checked, and in the Chat Window it should show "OMEMO is enabled"

[2016-06-10 11:21] vanitasvitae commented on #63
Nice it works! Thank you! (There's just one bug: When you go to plugins -> omemo -> configure -> fingerprints and verify/untrust fingerprints there, the popup that asks whether you want to trust/untrust does not disappear automatically after the user clicked a button. Instead the popup has to be killed via alt+f4.)

[2016-06-10 13:54] vanitasvitae commented on #63
@lovetox (Sorry, there is no issue section in your fork, so I don't know how to reach you) I tested your fork across multiple servers. It still seems not to work in all cases. Fingerprints are verified at all ends and omemo checkbox is activated, but sent messages are unencrypted...

[2016-06-10 14:03] kalkin commented on #63
@vanitasvitae   you are welcome to further discuss your issues in https://github.com/omemo/gajim-omemo/pull/61 :smile:

For now I will just copy paste your bug report.

EDIT: Wrong highlighted name.

[2016-06-10 14:07] kalkin commented on #26
Just as a warning: Using lovetox branch is **unsupported** and should only done by people who know what they are doing. I expect to merge the final version of lovetox changes in a few days.

[2016-06-10 14:58] ao2 commented on #19
Hi, I ported the useful downloader proposed by @iNPUTmice to pyhton:
https://git.ao2.it/conversations_http_downloader.git/

I think a python solution it's easier to deploy for gajim users on the desktop.

[2016-06-10 20:57] lovetox commented on #63
This is not an issue with the pull request, as he has the problem with the current HEAD also
and its better to discuss this here than in the pull request.

@vanitasvitae

Without a full log from starting gajim to sending messages (-l gajim.plugin_system.omemo) i cant help you much. there could be many reasons why it doesnt work.

without a log my first guess would be the E2E function of Gajim

go

[2016-06-10 21:41] lovetox commented on #63
also your gajim version seems outdated, to some websites i found Debian Jessie is on Gajim 0.16.1
please install from the gajim.org website the current version

[2016-06-10 21:58] vanitasvitae commented on #63
It was my old version of gajim. I installed gajim-nightly and now it works mostly fine. I do have the problem that on one account which I logged in from both conversations and gajim, messages sent from conversations do not appear in gajim, but otherwise its working fine now. (Seems also to disappear after enabling "Receive conversations from other ressources"

[2016-06-10 22:01] lovetox commented on #63
if a message does not appear, that doesnt mean it didnt reach your computer.
you should have an error in the debug log

and in gajim you have to activate "enable_carbon_messages" through the extended settings, could be the problem

[2016-06-10 22:02] vanitasvitae commented on #63
I'm happy with gajim now :+1:

[2016-06-13 10:58] kalkin commented on #38
Closing this, because @lovetox added a fingerprint ui

[2016-06-13 10:58] #38 closed

[2016-06-13 11:01] kalkin commented on #63
@vanitasvitae So i can close this?

[2016-06-13 11:18] lovetox commented on #36
MAM patch is now merged.

[2016-06-13 11:18] #36 closed

[2016-06-13 11:19] vanitasvitae commented on #63
I guess. In some Servers where Conversations <-> Conversations does work, Conversations <-> Gajim fails though. I guess its causes by the server (openfire). Also I get some array out of range errors. Shall I provide logs or is this unrelated?

[2016-06-13 11:24] lovetox commented on #63
if it doesnt work like it should then there is an issue.
1. please use the newest head from this repo (everything is now merged)
2. please provide the array out of range error
3. is your server openfire?! or is that the one of your contact
4. what exactly doesnt work, can you receive, can you send, are both devices online or not etc
   try to pin it down to one thing that doesnt work in a specific

[2016-06-13 11:26] lovetox commented on #51
@cippaciong @silberzwiebel

is this solved or do you still see this problem?
(with the current head)

[2016-06-13 11:27] lovetox commented on #60
@RalfJung
please use the new HEAD, the button is gone, fingerprint UI has been added.

[2016-06-13 11:27] #60 closed

[2016-06-13 11:28] lovetox commented on #46
this button has now been placed in the config menu of the OMEMO plugin, with a device list.

[2016-06-13 11:28] #46 closed

[2016-06-13 11:29] lovetox commented on #39
@oodbur is this issue fixed for you with the current HEAD?

[2016-06-13 11:34] vanitasvitae commented on #63
1.: I get no more crashes in the logs now. Maybe it's fixed now.
2.: See 1
3.: My server is ejabebrd 16.04 (used with gajim), contacts server is openfire (conversations)
4.: I cannot start OMEMO chat with contact.
5.:

Also my contact does not appear in

[2016-06-13 11:42] lovetox commented on #63
so from this i guess you received no fingerprints for this contact, looks like he didnt publish his device IDs and key with PEP

you could check with the XML Console of Gajim:

When you go online look in the XML Console for something like this

[code]

if this never comes through for your contact, that means his pep is not working correctly

[2016-06-13 11:56] lovetox commented on #63
oh i forgot, please check with gajim
right click on the contact -> Manage Contact -> Abonnment

if you have the right to see his status, and he yours

[2016-06-13 12:29] lovetox commented on #26
should be fixed in current HEAD

[2016-06-13 12:29] #26 closed

[2016-06-13 12:47] vanitasvitae commented on #63
There is no entry for my contacts account...

The options 'Allow contact to see my status' and 'Ask to see contact status' are greyed out. Only the last option is available. That means that my contact can see my status right?

By the way, the contact with whom I cannot chat is one of my accounts, so I have control over it, just in case you need any logs from that endpoint as well..

[2016-06-13 12:54] lovetox commented on #63
if your other account uses gajim, start wait a minute, then go to the config menu under Plugins, go to "Clear Devices" tab, and tell me if there are any device IDs listed

also: can you chat with anyone else from that openfire acc? (with omemo)

or even better provide a gajim log from that openfire acc

but please with -l gajim.plugin_system.omemo=DEBUG

[2016-06-13 13:01] vanitasvitae commented on #63
I'm now logged in to Gajim with both Accounts.
Let's name the account on ejabberd (The one which I think works correctly) A and the other account (the one on the openfire server which I cannot contact via OMEMO) B. On A there are two keys listed (I assume Gajim and conversations). On B are no keys listed.

Also I found this in the logs:

[2016-06-13 13:08] lovetox commented on #63
puh this is an error in the axolotl lib, which is to be honest way beyond my abilities to understand, for now.

and i doubt it has to do something with your problem, cause thats an error to decrypt a message, and your problem seems to be not even getting to the point of exchanging messages.

lets leave this aside.

if you have no devices listed on B, that means your openfire server doesnt send you

[2016-06-13 13:15] vanitasvitae commented on #63
Okay, then I will ask my university to fix their jabber server :D
Anyway thank you for your support :)

[2016-06-13 13:18] #63 closed

[2016-06-13 14:40] vanitasvitae commented on #63
Strangely enough, now I CAN send encrypted messages from Account B, but there are still no other devices listed. Conversations also does not list other device keys... Messages sent from B on Gajim arrive on A (conversations), but they do not arrive at B (conversations). Same the other way round (I enabled syncing though). I guess, both resources of B exist independently and A trusts both keys.
I'l

[2016-06-13 15:47] kalkin commented on #63
@vanitasvitae Have you tried to restart Conversations? Sometimes it doesn't pick up the new key

[2016-06-13 17:57] lovetox commented on #63
theoretical it only needs 0163, but it will be not that great of an experience if you miss MAM and Message Carbons

If you say something arrives not on both devices you always have to also tell if these devices were online or not at the same time.

Message Carbons only gets the Messages to your online devices
if you dont have MAM support on your server, then devices who are offline will not get an

[2016-06-13 18:04] cippaciong commented on #51
It's solved for me :smiley:

[2016-06-13 18:06] lovetox commented on #63
just post this into the gajim xml console

[code]

and you should get immediately a result with all your published devices

[2016-06-13 20:34] lovetox commented on #19
So now that i looked into this

right now the http `http upload` adds XHTML to the stanza which is not ecrypted.
i patched the OMEMO Plugin to remove every xhtml before a message gets sent, and will make a pull request for that soon.

so then the link which `http upload` generates is like a normal message which is fully encrypted by the plugin.

what @cippaciong probably means is that the picture

[2016-06-13 21:15] vanitasvitae commented on #63
This came back:
`<iq type="result" id="942504d6-889c-411a-8650-54ce236f03esa0" from="account@jabber.server" to="account@jabber.server/Gajim">
<pubsub xmlns="http://jabber.org/protocol/pubsub">
<items node="eu.siacs.conversations.axolotl.devicelist"/>
</pubsub>
</iq>`

[2016-06-13 22:08] cippaciong commented on #19
When I opened this issue I hadn't clear in my mind which plugin should do what, but by now it's clear that the entire image encryption/decryption should be done by the http upload plugin and its developer is already working on it afaik.
Feel free to close the issue. :+1:

[2016-06-14 08:19] ao2 commented on #19
Just a side note, a standalone downloader/decrypter is still a valid workaround for the case when a contact using Conversations uploads a **voice** message using HTTP Upload, AFICT there's no plugin that handles voice messages for gajim.

[2016-06-14 09:55] kalkin commented on #19
May be http-file-upload plugin should just call `xdg-open` on the downloaded file? But this probably will only work on Linux.

[2016-06-14 12:54] silberzwiebel commented on #51
I've used the latest version from this git repo, not your fork @lovetox but unfortunately it does not work for me. I can rule out a server issue, because the message appears in the XML-Console but it is not displayed (I can see it in Conversations, though):

[code]

I repeat my idea that it would be at useful to display at least a message like "Error: Received encrypted message but could not decry

[2016-06-14 12:57] silberzwiebel commented on #51
Ok, this is a weird bug. The next messages happened to appear in gajim just fine. This is from the XML-Console for these messages, maybe it helps:

[code]

[2016-06-14 13:28] lovetox commented on #63
yeah you have no published devices.

either your server doesnt let you publish devices, or he gives incorrect results back.
either way you should talk to your server admin

[2016-06-14 13:37] lovetox commented on #51
there is a info displayed for every message that arrives, but you have to look at the log

start gajim with "-l gajim.plugin_system.omemo"

this should solve this mystery.

please before you try to reproduce this error, be sure that in gajim every fingerprint of your contact is trusted.

in the config dialog of the omemo plugin under the tab "Clear Devices", there is a list with published devices.

[2016-06-14 13:42] vanitasvitae commented on #63
I told my server admin about the issues and he replied that they are running an old version of openfire. He is not sure, whether the XEPs are fully implemented, but he read on the internet, that OMEMO does not work with recent versions of Openfire :/

I'm glad, that XMPP is federated, so I can use my own server :D

[2016-06-14 13:58] lovetox commented on #8
@strb @tristan-k

is this still an issue?

[2016-06-15 10:29] fuelflo commented on #14
+1

[2016-06-15 13:47] grinapo opened #65 "renamed account breaks omemo"
Steps to reproduce:
- create account
- get device keys, connect, whatever you please
- disconnect account
- rename account
- connect
- fail

  File "/home/anybody/.local/share/gajim/plugins/omemo/__init__.py", line 85, in get_omemo_state
    conn = sqlite3.connect(db_path, check_same_thread=False)
OperationalError: unable to open database file

[2016-06-15 13:56] lovetox commented on #65
thanks for finding this, i will look into this

[2016-06-15 15:23] lovetox commented on #65
a workaround is to rename the db file, like the new account.
and start gajim new.

but nevertheless this is not intended.

i cant really reproduce this error msg though, all i get is a new omemo db with the new account

@kalkin
would it be better to bind the db name to our own jid?
changing the sign in jid in an account would trigger a new db created, and i think people would find this logical.

t

[2016-06-15 17:13] kalkin commented on #65
@lovetox Not sure. I think there was a reason we used the account name, but I can't remember it

[2016-06-17 11:52] ao2 commented on #19
@kalkin AFAICS gajim already uses `xdg-open` (or other mechanisms on other systems) to open local files: https://trac.gajim.org/browser/src/common/helpers.py#L718 so maybe this can be reused: some plugin can detect if the URL of the encrypted file is in the Conversations format (i.e. with a 96 characters long anchor, containing the key and IV) and then perform some actions, like one of the followi

[2016-06-17 13:32] lovetox commented on #19
We will definitly build in a cache, or else everytime you open the chat window or history window, it would start downloading and decrypting again. and i think it wouldnt be hard to decrypt all pictures to harddisk, a folder you choose in the config menu

[2016-06-19 12:14] xamanu opened #66 "Support for encrypted group chats"
Hello, Thanks for this plugin!

The "Conversations" app makes it easy to create groups and invite people to it. But unfortunately when participating with gajim in one of these groups OMEMO encryption is not present for the gajim client.

[2016-06-19 12:17] cippaciong commented on #66
This has been already reported in #47

[2016-06-19 12:19] pantierra commented on #66
Sorry! Closing as duplicate.

[2016-06-19 12:19] #66 closed

[2016-06-19 12:54] lovetox commented on #47
im working on it

[2016-06-19 16:19] petmos commented on #47
@lovetox

I'm not experienced in Python but perhaps I can support you by testing. Let me know.

[2016-06-20 13:37] silberzwiebel commented on #51
It's hard to tell whether all my devices are in the list under "Clear Devices". There were three, which is fine (2 \* gajim, 1\* Conversations),  but then I clicked "Clear devices" (totally unsure what this is meant to do), and now there are only 2 left (which is fine considering that I only have 2 devices online at the moment).
Is there any possibility to set names for the different keys?

Next,

[2016-06-20 14:07] lovetox commented on #51
so what Clear Devices does, is it overwrites the list with your published devices, that your contacts get.

but every device from you that is online adds itself to the list again instanstly.
only devices that are not online or broken cant do that. so thats a mechanism to get devices out of your published list that you dont use anymore.
So the Tab Clear Devices in Gajim just shows you what devices

[2016-06-20 19:34] lovetox commented on #39
I close this until there are more informations

[2016-06-20 19:34] #39 closed

[2016-06-20 20:43] lovetox commented on #8
closing until there is new information

[2016-06-20 20:43] #8 closed

[2016-06-20 20:45] lovetox commented on #40
this should not be possible anymore with current HEAD

[2016-06-20 20:45] #40 closed

[2016-06-22 16:32] Semperverus opened #69 "Images and files sent with OMEMO enabled are unretrievable"
When sending files or images to a Gajim user using OMEMO, those files remain encrypted. The plugin needs to decrypt before the file is stored.

Additionally, this same issue crops up with httpupload, especially with Conversations. It appears as though some sort of hash is put onto the end of the filename after a # symbol.

While multi-endpoint encryption has been very useful, this has been a major

[2016-06-22 16:42] cippaciong commented on #69
Hello, most of these problems have already been reported in #19. In that issue you will find a broader discussion about who is responsible to encrypt/decrypt images as well as a couple of immediate workarounds to open encrypted images even in gajim using an external component.

[2016-06-22 16:55] lovetox commented on #69
thanks this is reported already
In the next version of Gajim there will be more crypto librarys and there will be plugins who can decrypt.

meanwhile you can use the imagedownloader from inputmice. see https://github.com/omemo/gajim-omemo/issues/19

[2016-06-22 16:55] #69 closed

[2016-06-22 16:57] lovetox commented on #19
i reopend this so no more new issues about the same thing are opended

[2016-06-22 18:06] Semperverus commented on #69
I see. I skipped over that one as it sounded to be the exact opposite of my problem from its title (that nothing was being encrypted, where for me everything is being encrypted)

[2016-06-25 18:15] silberzwiebel opened #70 "own OMEMO key is published very often"
While trying to track down bug #51 I've observed that the plugin publishes it's own key very often. It appears many times in the device list and if I clear the list it appears back. The log is full of [messages lke this](https://gist.github.com/silberzwiebel/409982aeb1eaed21613ad73ce5611554)

[2016-06-25 18:18] silberzwiebel commented on #51
While I tried to reproduce this, I found a [bug over at prosody side](https://prosody.im/issues/issue/673) that might be related to this and hopefully will also fix this issue. I've just updated my server and will report back...

[2016-06-25 18:43] lovetox commented on #70
thats not a key
thats the device ID

every device has an ID, we publish that ID so other people can get the ID, with this ID they query our server with the encryption keys.

which of your devices is 321776365
something very wrong is going on here, a device ID should only be once in the Publish.

[2016-06-25 18:46] lovetox commented on #51
this bug should not be related to your problems as it states that pep events are infact exchanged, you just have to login after adding someone.

that could be a problem if you look at the process flow after adding someone, but not with your old contacts

[2016-06-25 18:56] lovetox commented on #70
if this ID is infact the OMEMO Plugin, there could be a bug. we remove duplicates out of the publish what obviously does not work here

if you clear device list, how long does it need to get to such a long device list

[2016-06-25 19:01] lovetox commented on #70
i found the bug, i will fix that now, thanks.

[2016-06-25 19:04] lovetox commented on #70
though i wonder could you look at your sessions table, in the omemo sqlite DB
are there many entrys for the same device ID?

[2016-06-25 19:46] lovetox commented on #70
you can try my bugfix branch, and see if the problem still exists

https://github.com/lovetox/gajim-omemo/commits/bugfix

[2016-06-25 20:38] lovetox commented on #70
even though there was a bug, it can only show it self under very specific circumstances, i believe in your DB could be something wrong.

if you dont care that your contacts get a new fingerprint, i would try to delete db and start new

[2016-06-28 16:36] jhass opened #71 "OMEMO enabled for resource that doesn't support it"
I have a contact online with two clients, one that does support OMEMO (Conversations) and one that doesn't (Pidgin). The contacts server does not support message carbons. I installed the latest version of the plugin from git with Gajim 0.16.5.

I cannot find a way to send messages to the pidgin resource, since starting a chat wit the pidgin resource enables OMEMO anyway and I can't find a way to d

[2016-06-28 16:39] jhass commented on #71
Okay it looks like it's due to the "Make message windows compact" setting. I think in that mode the little shield button, that's already a button UI wise so you do can click on it, just nothing happens, should either toggle the OMEMO state directly or have a little options popup where you can toggle it etc. As it stands the current UI in the "Make message windows compact" mode is highly confusing

[2016-06-28 17:21] lovetox commented on #71
the shild button does nothing, its just a way to know the current encryption state.
the button is btw not part of the plugin. we can just set its state

do you see the omemo checkbox and the fingerprint button?

compact window, means no buttons. you could argue that you cant use all the other functions in that state as well, so why should you be able to control omemo?

omemo doesnt know with what

[2016-06-28 17:52] jhass commented on #71
When my contact is online with multiple resources, I can right click on its roster entry and pick a specific resource to talk to under "Start Chat".

When I right click on my contacts roster item and choose "Information", the resulting window has a "Client" entry under the "General" tab, so some information seems to be available. One could at least blacklist stuff known to have no implementation.

[2016-06-28 22:01] klemens commented on #71
Most (if not all) functionality is available through the context menu in this case, including eg. the OTR settings. This is how OTR adds its context menu entry: https://github.com/python-otr/gajim-otr/blob/0613803545b7972ab57059cfb312d62a5a9dbbf1/src/gotr/otrmodule.py#L343-L349

Edit: OTR also hijacks the shield button with its own menu (in the same file a few lines above).

[2016-06-28 22:02] jhass commented on #71
Yes, I was looking through all context menus I could find.

[2016-06-29 13:54] lovetox commented on #71
with message carbons activated every message reaches all clients, it doesnt matter if you start a chat with a specific resource. Also your problem doesnt exist if you know beforehand with what device you want to talk, instead of clicking "start chat with" you could just click the omemo deaktivate button and get the same thing.

The problem is when you dont know on which device your friend is at th

[2016-07-05 16:04] lovetox commented on #19
just a little update

the newest version of httpupload 0.4.0 from the gajim plugin store, supports encrypted upload for linux systems.

an encrypted upload is made automatically when the omemo encryption is active with a client.

[2016-07-05 16:06] lovetox commented on #57
@Noah-Huppert so is this issue still present for you? or else i will close this

[2016-07-05 16:14] lovetox commented on #70
so did your problem go away?
@silberzwiebel

[2016-07-05 20:54] catvec commented on #57
Installing the correct protobuf version fixed this issue. However I think showing an error message warning the user to install a python dependency that is already installed is not the right course of action when the root cause of an the issue is something else.

[2016-07-05 20:54] #57 closed

[2016-07-05 21:04] lovetox commented on #57
I have it on my list, the error message will print whats really missing in the future.
thanks

[2016-07-05 21:21] cippaciong commented on #19
I have updated the httpupload plugin today and tested with a couple of images, it worked pretty well. Thanks!

[2016-07-06 09:14] silberzwiebel commented on #70
Sorry for the late reply.
I tried to reproduce the error with the not-bugfixed-plugin some days
ago but couldn't managed to do so. I wanted to do this to be able to see
whether yoouir bugfix truly fixed the bug, i.e., if I would do the same
steps then the bug would not apppear.

I did not have any related problems with your bugfix-repo until now, though.

What files would I need to delete if I wan

[2016-07-06 13:35] lovetox commented on #70
just delete the file omemo_yourserver.db then restart.

but beware you get a new key, and your contacts have to trust your new fingerprint again.

i wouldnt do this though if your problems are now gone, i think maybe that there were multiple problems at once that makes it hard to focus on the thing thats not working correctly.

it was definitely not optimal the way it was with the key publishing,

[2016-07-06 22:42] GrimKriegor commented on #48
Got the same problem on Arch and Parabola, solved it by installing protobuf 2.6.1 from pip, thank you gentlemen!

[2016-07-07 01:52] GrimKriegor commented on #14
+1

[2016-07-07 16:49] cippaciong commented on #14
Please, use [reactions](https://github.com/blog/2119-add-reactions-to-pull-requests-issues-and-comments) instead of "+1" comments. :+1:

[2016-07-07 16:58] GrimKriegor commented on #14
@cippaciong Thank you, sorry for my ignorance.

[2016-07-07 20:18] lovetox commented on #14
i made a patch, i hope kalkin has time next week and then i will commit a lot of stuff :)

[2016-07-07 21:19] huberste opened #72 "key Fingerprints not visible!"
In Version 0.5.1 there is no possibility to see your own or contacts, ant trusting is also impossible

[2016-07-07 21:28] lovetox commented on #72
you can use version 0.6 from this repo, or wait till its pushed to gajim, probably next week

[2016-07-07 21:28] #72 closed

[2016-07-09 01:31] dllud commented on #19
@lovetox Working here too. Thanks!
I think this issue can now be closed. We should open a new one for the download & decrypt functionality.

I agree with @ao2 :

Which plugin should be responsible for this, i.e., where should we open the new issue? [httpupload](https://trac-plugins.gajim.org/wiki/HttpUploadPlugin)? This seems more like httpdownload :smile:.

[2016-07-09 10:15] lovetox commented on #19
you dont need to open a new issue, im working on it already :)

[2016-07-09 12:35] benediktg commented on #55
@asterismo E. g. openSUSE Leap and Tumbleweed have pip3 installed by default so that you at first have to

[code]

There has to be no comma between the `protobuf==2.6.1` and the `python-axolotl`. In adition to that it's not necessary to put in `==0.1.35` since it's the most current version anyway.

[2016-07-10 14:02] tristan-k commented on #19
Will there be window support as well?

[2016-07-10 14:06] lovetox commented on #19
yes eventually, gajim maintainer has to pack the dependencys into the installer.
i already talked to him about it.

[2016-07-11 03:45] rom1dep commented on #48
Got hit by this same problem, fixed by downgrading my protobuf version.
If protobuf 3 is just around the corner shouldn't that deserve a proper fix (i.e. fiddling around the import code in order to make it work against both 2.6 and 3.0?)
Or maybe at your level this should be part of gajim import logic and not extension's?

[2016-07-11 18:55] nicorikken commented on #51
Trying out this plugin, I also ended up in a disconnected state (2 accounts, both Gajim and Conversations for both). The suggested solution of 'Clear Devices' and restarting both clients did the job just fine. In Converstions, in my account details, I can see that I had 2 old keys registered, which are no longer in use (they remained offline after the restart).

[2016-07-16 09:01] syntafin opened #76 "Can't open OMEMO encrypted files"
Today I saw, that files that send with enabled OMEMO encryption over http-upload, can't shown on PC/Tablet.

[2016-07-16 09:08] lovetox commented on #76
this is correct, as a workaround disable omemo befor you send with http upload to a device which is not conversations.
the issue is already discussed here:
https://github.com/omemo/gajim-omemo/issues/19

in this thread there are various other ways described how you can open the files

there will be an update to the http upload plugin which lets you see the files in the near future

[2016-07-16 09:08] #76 closed

[2016-07-16 09:31] lovetox commented on #70
this should be fixed with version 0.7

[2016-07-16 09:31] #70 closed

[2016-07-16 09:32] lovetox commented on #14
should be fixed with version 0.7

[2016-07-16 09:32] #14 closed

[2016-07-16 10:08] lovetox commented on #51
so please use the new version 0.7 and see if you still have problems

[2016-07-16 23:18] threonorm opened #78 "Widget not deleted"
When the plugin is deactivated in gajim, the button in the UI is not removed.

Then when the plugin is reactivated, a new button is created and there are 2 buttons.

The problem may be in ui.py, the `__init__` for the class UI create the widget with

`_add_widget(self.omemobutton, self.chat_control)
`
and it seems that nobody never removes this widget.

[2016-07-16 23:36] lovetox commented on #78
ha, you are right, good catch, never had the idea to deactivate the plugin

[2016-07-17 19:42] schiessle opened #80 "Update to 0.7.0 failed"
I just tried to update the OMEMO plugin to 0.7.0 this failed with following error message which left me without OMEMO support since the previous version was already removed:

[code]

Additional information:

Gajim: 0.16.5
GTK+ Version: 2.24.30
PyGTK Version: 2.24.0
Distribution: Debian testing

[2016-07-17 19:48] schiessle commented on #80
After restarting Gajim the plugin seems to be installed and works. Still a strange error message during update. Any ideas why this happens?

[2016-07-17 20:32] silberzwiebel commented on #51
Okay, finally I have a "stable" test case to reproduce this bug (or at least one instance of it.)
I'm chatting with my contact only with Conversations (both f-droid version 1.13.5), my gajim with OMEMO plugin 0.7 (from this repo) is offline. When I start gajim I can send OMEMO encrypted messages that appear on my mobile and my contacts mobile. So far, so good.
However, I did not receive any messag

[2016-07-17 20:38] iNPUTmice commented on #51
Gajim does not use MAM to 'catch up' with message like Conversations does. Gajim doesn't have the concept of infinite per conversation history. Gajims support for MAM comes in form of a history browser at View / History.

[2016-07-17 20:42] silberzwiebel commented on #51
I cannot see the "lost" messages in the history window, though. They
should appear there, shouldn't they?

(As a sidenote, I found under the extended configuration a setting to
enable something similar as an "inifinite" converstations (setting keys
restore_lines and restore_days IIRC).)

[2016-07-17 20:48] iNPUTmice commented on #51
Gajim might not automatically issue a MAM request and instead restore the message from local history only.

I'm not sure if MAM message retrieved for that archive view run through the same message hooks that are used to process OMEMO messages. That needs to be checked.

[2016-07-17 23:22] kalkin commented on #80
@schiessle Yes, we know why it happens. Gajim needs to release new version. WIP

[2016-07-17 23:22] #80 closed

[2016-07-17 23:22] kalkin commented on #80
@schiessle Neverless thank you for the report ☺

[2016-07-18 07:33] amenk opened #81 "Can't see my own encrypted messages from gajim no longer on Conversations (Android)"
1. Upgraded to Plugin 0.7.0, latest Gajim Nightly
2. Write a message in chat on gajim with OMEMO
3. can't see it on Conversations on Android

Unencrypted I see the message

Probably Gajim is missing my mobil's key?
But in Gajim I see only the keys of my chat partner, not of my mobile.

[2016-07-18 07:37] fuesschen commented on #81
Goto the plugin settings and verify your own fingerprint under "Known Fingerprints"

[2016-07-18 07:42] amenk commented on #81
I was able to fix it via the plugin settings -> known devices -> refresh -> the key of my mobile appeared under known keys -> clicked verified

Thanks so far...

But this whole key management is a mess :-( Too complicated. Is there a specific reason why there can not be a popup just prompting me to accept a new key or is it just not developed yet?

[2016-07-18 07:50] amenk commented on #81
Just flattred the repo ... :-)

[2016-07-18 11:04] jhass commented on #71
The OTR plugin adds a menu to it btw. It also hides it if OTR is disabled but OMEMO is enabled. Maybe there can be some collaboration between the two plugins here, possibly via requiring a third plugin that provides a unified management API to it? If that sounds like a good idea to anybody, getting Yann as the most recently active contributor to the OTR plugin (http://hg.gajim.org/gajim-plugins/lo

[2016-07-18 13:29] lovetox commented on #51
on start Gajim retrieves all MAM Messages since it was offline, these Messages also run through OMEMO, and you should see them in your history window (you dont get notifications for MAM)

it looks to me like your MAM is not working if you have the same problem with unencrypted Messages.
Please limit your testing to non-MUC Conversations.

i would try to make a case where you can test if MAM is wor

[2016-07-18 13:36] lovetox commented on #81
hi, on first use the plugin works not really flawless, after installing its always better to start gajim new and sign into your account to retrieve all keys.

the problems on first use are known and will be adressed in future versions.

key management could probably be easier, i probably make some room for a "own keys" table.

[2016-07-18 13:43] lovetox commented on #71
there is already a PR for a additional context menu, not at the shield button though. so you will have your possibility to activate omemo even in reduced window mode.
2 places in a chatwindow where you can activate omemo is enough, no need for a third place.

omemo is not OTR, i know you activate and deactivate and authenticate OTR constantly, with omemo you should only have to activate it once, m

[2016-07-18 14:31] schiessle commented on #80
@kalkin Thanks! Looking forward to the new Gajim version :smiley:

[2016-07-18 14:46] lovetox commented on #71
the new context menu is now merged, just download the newest HEAD, or wait one or two weeks for the next release version. hope it suits you.

thanks to @klemens !

[2016-07-18 14:46] #71 closed

[2016-07-18 17:55] lovetox commented on #78
should be fixed with newest HEAD, you can test if you want.

thanks for reporting

[2016-07-18 17:55] #78 closed

[2016-07-19 15:43] strb opened #85 "SQL errors after update"
Hi, just updated from 0.5.3 (IIRC) to 0.7.0 via plugin manager. I restarted gajim afterwards, and I've also tried disabling+reenabling the plugin.

 I can't open the plugin configuration. I also can't receive messages anymore. There may be other stuff that doesn't work properly, too. I haven't tested exhaustively. The root cause appears to be a bug with the database migration, as I repeatedly get

[2016-07-19 16:45] lovetox commented on #85
hm in the updates since 0.5.3 i added no column trust, so it looks like the DB was corrupted even before, but we started to use the column now

maybe we can fix this without setting you back to start.

could you open the sqlite db, and look if in the `identities` Table the column `trust` is missing?
if it is, just add it. should solve the problem.

you could look if there is anything else missing,

[2016-07-19 17:12] lovetox commented on #85
i think i have an idea why the column never got created, because NUMBER is not a valid fieldtyp.
older sqlite version would create the column anyway, newer maybe not.

could you find out what sqlite version you have? i guess you are on linux

[2016-07-19 18:17] strb commented on #85
Thanks for responding so quickly!

Okay, so the schema of `~/.local/share/gajim/omemo_ACCOUNT.db` has:

[code]

So the column is definitely missing. I have been using this plugin for quite a while, so maybe it was added at some point further back? What's odd to me is that I have the timestamp column as an INTEGER, where it's created as NUMBER in the code.

Either way, I'm on a gentoo system, so sq

[2016-07-19 18:23] lovetox commented on #85
@strb indeed this is very strange, i scanned the history of github, to my knowledge there was never added the trust column in a commit, it was always there from the inital plugin commit.

SQLite doesnt really have Datatypes like known from other DBs, you could name the Datatyp whatever you want, normally sqlite should add the column no matter what.
sqlite determines a datatype from the content its

[2016-07-19 18:38] strb commented on #85
Yup, `ALTER TABLE identities ADD COLUMN trust INTEGER;` did the trick. Since we can't really find out how I got to this place, I guess I'll close here.

[2016-07-19 18:38] #85 closed

[2016-07-19 21:11] lovetox commented on #81
hi in the last commit i added a TAB so you can see your own Device Fingerprints in the Fingerprint Dialog that opens from the Chat Window.

No need to search for it in the Config Dialog anymore.

[2016-07-19 21:11] #81 closed

[2016-07-20 20:01] lovetox commented on #19
update: the Url Image Preview Plugin of Gajim can decrypt images now and show them.
again only on linux systems for now

the image is nowhere saved, so it cant be found on the harddisk for now, only inline preview in the chat window

@tristan-k if you are interested i could write steps down that you can make this work on windows also

[2016-07-21 16:20] tristan-k commented on #19
@lovetox Of course. Knock yourself out!

[2016-07-21 20:38] lovetox commented on #55
@asterismo did you try this
`pip install protobuf==2.6.1 python-axolotl`

if it is still not working i would need some log output

are you seeing the plugin in the plugin manager ? (as a installed plugin)

start with
`-l gajim.plugin_system.omemo=DEBUG`

if that yields nothing start with

`-l gajim=DEBUG`

and search for a error regarding to `google`

[2016-07-21 21:12] lovetox commented on #19
https://github.com/omemo/gajim-omemo/wiki/Making-Cryptography-Package-available-on-Windows

after that you have to edit
`httpupload.py` and `url_image_preview.py`
search for this line
`if os.name != 'nt':`

and make it

`if os.name == 'nt':`

hope that works :)

[2016-07-21 22:14] tristan-k commented on #19
Much appreciated. Will report back.

[2016-07-26 08:04] schiessle opened #90 "fingerprint needs to be accepted manually"
It happens to me multiple time that I need to accept the fingerprint of a chat partner manually before my messages are send to him. Even more problematic, as long I didn't accept it I don't receive and message from him and he doesn't know. So it can happen that people write to me and wonder why I don't response, but actually I never received a message from them.

I assume that the right behavior w

[2016-07-26 09:00] iNPUTmice commented on #90
I can't reproduce this behaviour. For me messages from undecided devices show just fine.

[2016-07-26 09:02] lovetox commented on #90
this is intended. why would you send messages to a device you didnt trust before?

you can receive messages from UNDECIDED fingerprints.
i just tested this again. if i have contact with only undecided fingerprints (means i cant send messages to him) he can send messages to me without a problem.

A Message not reaching you can have a multitude of reasons, for example maybe your chatpartner didnt tr

[2016-07-26 09:22] schiessle commented on #90
The problem happened with version 0.7.0 now I updated to 0.7.5. Is there a way to clear all know fingerprint so that I can try it again. Looked at .config/gajim/pluginsconfig/ but couldn't find any list of the know fingerprints there.

[2016-07-26 09:33] lovetox commented on #90
the fingerprints are in a sqlite db
its called omemo_yourserver.db
you can look at it with a db programm that can read sqlite

there are 2 tables: identities and sessions
if you want to reset everything for one contact
delete every row with the JID of the contact from the `sessions` and `identities` table.
restart gajim.

beware: do not delete the first row out of `identities` or you will get new

[2016-07-26 13:01] lovetox commented on #19
@tristan-k can you scrap all those changes, and just try to edit the .py file and try if it works?

[2016-07-26 13:39] lovetox commented on #19
@tristan-k foget it, i found the issue why its not working on windows, i will release updates to both plugins soon

[2016-07-28 14:08] herndlm commented on #51
Hi, I started using Conversations and was also using Gajim with the latest omemo plugin (0.7.5) and I had big problems after adding myself as a contact to test omemo with. I was not able to see my own messages sent from other devices (messages from Conversations were not appearing in Gajim and vice versa).
After deleting the plugin config and re-creating my account and plugin settings everything s

[2016-07-28 14:11] lovetox commented on #51
what do you mean with adding yourself?
you added your own jid to your account?
this is not possible in gajim, you would get an error not allowing to add yourself.
for testing purposes you could just create a second jabber account and add that one

[2016-07-29 06:56] herndlm commented on #51
I think I did it on conversations and it also showed up on gajim or something like that. Maybe it was unrelated and I just saw my phone client in gajim, I'm not sure honestly.
But yes, I meant adding my own jid to my account.

[2016-07-29 09:19] tanty opened #91 "Add possibility to delete Fingerprints"
Right now, the only option is to verify.

It would be good to add the possibility to remove and revoke

[2016-07-29 12:32] lovetox commented on #91
@tanty you can revoke, just click verify and then on the dialog NO

[2016-07-29 12:36] lovetox commented on #90
@schiessle so is there still an issue? otherwise i will close this

[2016-07-29 12:47] tanty commented on #91
@lovetox Wow, I DID miss that!

Then, I think the text in the button is a bit ambiguous. "Verify fingerprint" sounds to me like it can only be done in a "positive" fashion. I was not even expecting a dialog.

Also, it would be nice still if you could delete the key, but this is really a wish.

[2016-07-29 12:51] lovetox commented on #91
maybe "verify/revoke" would be better

what do you expect from a deletion?
what if it is the only fingerprint of your contact, should it come up again as undecided the next start?
or
does deletion mean "i want to see that fingerprint never again?"

[2016-07-29 12:55] tanty commented on #91
"verify/revoke" sounds good to me

I would expect the first:
"It should come again as undecided the next start, if the contact keeps using that fingerprint"

[2016-07-29 12:56] lovetox commented on #51
we have to differentiate between two things

adding yourself like a contact, this should not ever happen, messages are probably lost due to the client not working correctly, not the plugin.

and

in gajim you see yourself as contact in the roster if another device of yours comes online.
if you click on it and open a chatwindow you will see a name like User/ResourceMobile for example
this is suppor

[2016-07-29 13:18] #90 closed

[2016-07-29 13:35] lovetox commented on #51
i will close this issue

this issue stretches over multiple gajim versions, if there was a bug its probably solved until now.
there are many reasons why encrypted messages get "lost".

the first thing to check is:
- is the correct fingerprint trusted on **both** devices
- does messaging work when both devices are online, and stop if one is offline?
- if offline or syncing message history doesnt wo

[2016-07-29 13:36] #51 closed

[2016-07-29 20:06] lovetox commented on #13
native encryption is now implemented

the cryptography lib is needed for it to work

`pip install cryptography`

[2016-07-29 20:06] #13 closed

[2016-07-30 14:42] dllud opened #94 "[UX] When undecided, force fingerprint verification"
Current behaviour:
1. User installs and activates OMEMO plugin.
2. User opens a chat with a contact that has a OMEMO fingerprint.
3. Contact fingerprint is undecided: OMEMO plugin is automatically turned off and shows the warning `OMEMO encryption disabled`.
4. User does not read/understand the warning.
5. User unwittingly sends plaintext messages with sensitive info.

The behaviour implemented in

[2016-07-30 18:05] lovetox commented on #94
hi,
you have misconception about what it means to activate omemo

activating the omemo plugin in the plugin manager of gajim, doesnt activate encryption for all contacts.
so the message `OMEMO encryption disabled` doesnt mean encryption was turned on befor, it just reflects the current state of encryption.

receiving fingerprints, verifing fingerprints doesnt do anything to the state of the encryp

[2016-07-30 18:21] lovetox commented on #94
though i remember now that there was a UI bug which is fixed in current HEAD but not pushed as new version, where it would show you in Chat `OMEMO encryption disabled` and the checkbox of the omemo button was checked (as when it would be activated)

can you remember, did you send the first message, or your contact?

[2016-07-30 18:38] dllud commented on #94
Thanks for the explanation.

Exactly. This happened to a few non-tech people  on my contact list. They expected the opposite: encryption to be enabled for all once the plugin was activated.
I believe this misconception will keep repeating itself. Thus the right way to go is just what you suggested above:

Then show the popup asking for verification on their first message ;).

[2016-07-30 18:47] dllud commented on #94
That actually happened to me once. But since the warning message was there I didn't gave much thought to it.

The real problem though as to do with the users' misconception about the default encryption state as discussed above.

[2016-08-03 20:28] lovetox commented on #94
i think i solved all these problems in version 0.8
should be a much smoother experience now.
new version will be pushed to gajim on the weekend.

if you still notice problems please report them here, i close this until then.

thanks for your report.

[2016-08-03 20:28] #94 closed

[2016-08-03 21:07] silberzwiebel opened #97 "gajim-omemo to gajim-omemo do not exchange new keys / devices / fingerprints; sending message fails"
I'm running gajim 0.16.5 on Fedora 24 with the latest gajim-omemo code from this repository.
My contact runs gajim on Linux Mint Debian Edition (not sure which version) with the gajim-omemo plugin from the plugin installer inside gajim.
When she installed the plugin, I thought it should be possible to exchange encrypted messages over gajim (we both use also conversations which works fine with OMEM

[2016-08-03 21:10] lovetox commented on #97
sorry that was my fault i added a column and didnt do another dbmigration
its easy solveable though
connect to the sqlite DB its called "yourserver_omemo.db"

and set the prama user version to 4, and restart

or run this query on your db

[code]

**_DONT DO BOTH**_

this problem is cause you where on some in between git version and not stable

[2016-08-03 21:11] lovetox commented on #97
and i updated the readme, the workflow for receiving keys and starting encryption is now a bit different (easier though)

https://github.com/omemo/gajim-omemo/blob/master/README.md

please upgrade your contact to 0.8 and check if the problems still exist

[2016-08-03 21:19] silberzwiebel commented on #97
thanks for the quick reply. I'm not familiar with sqlite, however.
Could you tell me in more detail what I should do? Thanks.

[2016-08-03 21:25] lovetox commented on #97
im not familiar with fedora, but is there not a package for sqlite in your package managment?

on ubuntu i do `sudo apt-get install sqlite`

[2016-08-03 21:27] silberzwiebel commented on #97
I do have a sqlite3 executable and this works to open the .db file. But I do not know what commands I would need to type in there to actually do the changes required...

[2016-08-03 21:29] lovetox commented on #97
try this

first:
`ALTER TABLE identities ADD COLUMN shown INTEGER DEFAULT 0;`

then:

`UPDATE identities SET shown = 1;`

[2016-08-03 21:37] silberzwiebel commented on #97
okay, thanks, the error on my side is gone (sorry, I only saw later that you edited your comment above  with the sql commands ;))
The fingerprint however is not received. I saw you released 0.8 very recently. When is 0.8 available trough the plugin installer? Because I do not want to put the hassle on cloning a git repo to my contact... (and doing this breaks thing as I'm experiencing myself :-/)

[2016-08-03 21:40] lovetox commented on #97
probably on the weekend, check your log
everything is there

if you dont have this line in there

`Received device list for friend@yourfriend.com:[1391233980]`

then this means you friend has not published any devices.
does your communication work if you using conversations?

[2016-08-03 21:42] lovetox commented on #97
on what server software does your friends server run?
is he online at the time?
with the new version 0.8 you have to try sending a message to get the keys, actually write something and press the send button
after that look at the log what does it say?

[2016-08-04 03:32] silberzwiebel commented on #97
interestingly, I only get the

[code]

line for three of my contacts  but not the one I'm having this current problem with. I do, however,  successfully communicate with more than three contacts via OMEMO and Conversations. OMEMO does also work with no problem for the contact in question here (but: Conversations also does not fetch the new device coming from gajim-omemo).

All contacts are on the

[2016-08-04 17:44] lovetox opened #98 "How to correctly reply to a invalid PreKeyWhisperMessage"
Scenario:

[code]

how to come out of this state without reseting the DB?

https://conversations.im/xeps/multi-end.html#rules

So what is a KeyTransportElement, i didnt find it in the axolotl-java-lib

does it just mean, send  a new PreKeyWhisperMessage?
Will this be a new session for Client B, or could we retain the old session in sending the session data in that PreKeyWhisperMessage?
is there an

[2016-08-04 17:57] iNPUTmice commented on #98
I haven't thought about an actual solution for this yet but I can clarify what a `KeyTransportElement`  is. Actually thats defined in the Glossary of the XEP as:

So basically it's a OMEMO message without the encrypted body. Technically a `KeyTransportElement` can contain either a PreKeyWhisperMessage or a WhisperMessage. (Even both if you have multiple keys/devices). However in that scenario we a

[2016-08-05 12:22] lovetox commented on #97
devicelists are send to you when you come online.

if the server of your contact dont, there are only 2 possible options
1. client didnt announce (you can also see this in the log, even if it was successful)
2. he did, and the server is not publishing it to the other contacts

really the log shows you everything, every step and where something goes wrong

[2016-08-05 17:04] klemens opened #99 "Native AES fails while loading the default backend"
I just updated to the new 0.8.0 version, which tries to use native crypto if possible. This however leads to the following exception when receiving a encrypted message:
[code]

Manually executing the `default_backend` function in a python2 shell works without problems:
[code]

Reverting to using the built-in encryption fixes the exception and the messages get decrypted as before.

I am running gaj

[2016-08-05 17:07] lovetox commented on #99
ah i know this error, has nothing to do with the crypto

its the package loader module from python thats not playing well with demandimport

i forgot to add this to the ignore list

i upload a fast fix in another branch could you test it?

[2016-08-05 17:10] lovetox commented on #99
https://github.com/lovetox/gajim-omemo

could you try from this repo please

[2016-08-05 17:34] lovetox commented on #19
@tristan-k i pushed a new version of the image_preview_plugin, it should now decrypt, omemo send pictures in an instant :)

http upload will follow soon

[2016-08-05 18:15] klemens commented on #99
https://github.com/lovetox/gajim-omemo/commit/1ac0b855aa6bdd634de83d3a5c781d1edca3ad16 indeed fixes the problem. Thanks for your fast response!

[2016-08-05 18:37] lovetox commented on #99
changes are merged, v0.8.1 will soon be on gajim.

[2016-08-05 18:37] #99 closed

[2016-08-08 07:29] Yakulu commented on #97
I got a similar problem since 0.8 update. Everything was working fine in 0.7.x.
I tried SQL commands without success. I talk with a friend from Conversations to Conversations without trouble. It's just Gajim-OMEMO <-> Conversations that have a problem, not accepting sending message nor receiving one. My DEBUG trace (anonymized) :

[2016-08-08 10:07] vanitasvitae commented on #97
I do have the same problem @silberzwiebel described in this issue. I cannot run the sql queries successful though:
Im on debian 8.5 stable.
When I use sqlite myserver_omemo.db and enter the first command, sqlite prompts me with a error:

[code]

When I use sqlite3 instead of sqlite I get the following error:

[code]

What can I do?

[2016-08-08 12:14] vanitasvitae commented on #97
Nevermind, I fixed it. I had opened the wrong database. For me it was omemo_myserver.db, not the other way round.

[2016-08-08 13:29] lovetox commented on #97
so @vanitasvitae everything working now?

@Yakulu do you have the same traceback after every restart if you try to send him a message?

does this problem exist only with this contact or with others too?

this seems like he has published a faulty signature for some reason. maybe tell him to log out and sign in again with his conversations account.

can you look at the log after he send you a messag

[2016-08-08 14:54] Yakulu commented on #97
@lovetox : thank you for your reply.
My contact tried reconnect without success. I have no problem with a new contact today (but I've not many OMEMO ready friend list...).

About when the buggy contact send a message :

[code]

[2016-08-08 15:19] lovetox commented on #97
he sends you messages not encrypted for your gajim client.

he should look if he accepted your fingerprint in conversations, you can find your own fingerprint
Omemo Icon -> Own Devices -> Own Fingerprint
give him the last 4 numbers and let him check

can you tell me which server he uses? domain?

[2016-08-08 16:34] vanitasvitae commented on #97
@lovetox: yep, its working again.

[2016-08-08 17:18] Yakulu commented on #97
@lovetox : sorry for the noise. It worked after approving my finger in his account (it seems that I have forced generation of a new one after the problem happens : I tried reinstalling plugin with removal of local databases).

We still can communique after finger approval but all worked when he reconnects to the server.
So I guess a simple reconnection after plugin update have worked too.

Thank y

[2016-08-08 17:23] lovetox commented on #97
good to hear.

deleting the database should only be last resort measure
it resets everything, generates new keys and fingerprints.

you probably have now your old fingerprints and new fingerprints published

you should go to the plugin config menu, last tab and press "clear devices" that removes old fingerprints not used anymore from the server.

you will still see them in the fingerprint tab but

[2016-08-08 20:39] Yakulu commented on #97
Thank you. It's done.

[2016-08-11 10:00] vanitasvitae opened #103 "Contact cant receive or send OMEMO messages"
One of my contacts updated his OMEMO plugin from version 0.7.5 to 0.8.1 and now he cant send/receive messages to/from me. When he tries to send me a message there is no debug output, but when I send him a message he gets the following debug output:
[code]
He is running Archlinux. It worked before.
We tried both installing the plugin from ftp.gajim.org and via git clone.

[2016-08-11 10:37] vanitasvitae commented on #103
We found the error. My contact had to upgrade setuptools and distribution via

[code]

[2016-08-11 10:37] #103 closed

[2016-08-11 14:29] lovetox commented on #97
@silberzwiebel did you resolve your problem?

[2016-08-11 14:54] lovetox commented on #103
thanks for the report, we will add this to the dependency list for the arch package

[2016-08-11 15:02] cippaciong commented on #103
@vanitasvitae if you prefer to avoid handling dependencies and updates manually, I made an AUR package for [gajim-omemo](https://aur.archlinux.org/packages/gajim-plugin-omemo/) some time ago. :wink:

[2016-08-11 16:37] vanitasvitae commented on #103
@cippaciong: im using Debian :)

[2016-08-12 19:39] silberzwiebel commented on #97
No. My contact upgraded gajim-omemo to 0.8.1 but still I do not receive her new device key / fingerprint, neither on gajim nor on Conversations. How can I check if my server is dong things wrong, i.e., not distributing the keys? Because in the logs I get the "Received device list for ..." only for a few contacts, although I'm using OMEMO succesfully with more contacts using Conversations (again, a

[2016-08-13 06:31] lovetox commented on #97
did you try to remove and add the contact again to your contact list? it could be a problem with subscription.
if you right click in gajim on the contact - Manage Contact -> Abonnoment: both options have to be grey

no matter what you see, try to readd the contact.

to see if the contact correctly publishes his device id, look at the logs if the contact also uses gajim.
if the publishing doesnt wo

[2016-08-16 10:27] eternalbit opened #105 "can't activate OMEMO plugin"
I can see the OMEMO plugin in the plugin manager, but cannot activate it.
_python-axolotl_ is installed.

I ran:
`gajim -l gajim.plugin_system.omemo=DEBUG` as suggested [here](https://github.com/omemo/gajim-omemo/wiki/It-doesnt-work,-what-should-i-do%3F-(Linux))

This gave me:
`(E) gajim.plugin_system.omemo No module named message`

What can I do?

Is this warning in the plugin manager inside the

[2016-08-16 20:39] lovetox commented on #105
Actually i think you are using an old outdated package from ubuntu, you should download version 1.35
over pip of python-axolotl

this has a dependency on protobuf 3, if it doesnt work, install protobuf 2.6.1

look at the wiki for linux here on github

[2016-08-17 01:37] silberzwiebel commented on #97
I tried to re-add but it didn't help. I will look at the logs of my contact presumably at the weekend.

[2016-08-17 18:32] lovetox commented on #105
so is your issue solved?

[2016-08-18 14:33] eternalbit commented on #105
I ran:
`su -c "pip install python-axolotl"`

... which gave me:
Requirement already satisfied (use --upgrade to upgrade): python-axolotl in /usr/local/lib/python2.7/dist-packages/python_axolotl-0.1.35-py2.7.egg

Requirement already satisfied (use --upgrade to upgrade): pycrypto in /usr/lib/python2.7/dist-packages (from python-axolotl)

Requirement already satisfied (use --upgrade to upgrade): pyth

[2016-08-18 14:56] lovetox commented on #105
maybe you could try something for me

please run `pip install protobuf --upgrade` which should upgrade you to 3.0.0 not the beta version anymore. then try if the message is gone.

if it doesnt help downgrade with `pip install protobuf==2.6.1`

[2016-08-18 20:22] eternalbit commented on #105
I ran:
`su -c "pip install protobuf --upgrade"`

... which gave me:
Requirement already up-to-date: protobuf in /usr/local/lib/python2.7/dist-packages/protobuf-3.0.0-py2.7.egg

Requirement already up-to-date: six>=1.9 in /usr/local/lib/python2.7/dist-packages/six-1.10.0-py2.7.egg (from protobuf)

Requirement already up-to-date: setuptools in /usr/local/lib/python2.7/dist-packages/setuptools-25.2.0

[2016-08-19 11:05] gerg5c42g542g2c54g52c opened #106 "Error installing python-axolotl."
I run `pip2 install python-axolotl --upgrade`

Error occurs:
[code]
My gajim is 0.16, OMEMO plugin  0.8.1 installed from plugins section of gajim. OS: Debian 8.

[2016-08-19 14:04] #105 closed

[2016-08-19 14:04] lovetox commented on #106
you have to use Gajim 0.16.5, look on gajim.org to get the latest version

and for the axolotl problem please have a look at the wiki

https://github.com/omemo/gajim-omemo/wiki/It-doesnt-work,-what-should-i-do%3F-(Linux)

[2016-08-19 14:04] #106 closed

[2016-08-21 11:23] gerg5c42g542g2c54g52c opened #108 "Messages sent from gajim to Conversations are not encrypted."
When I send a OMEMO encrypted message from gajim to Conversations, Conversations warns in red that it's not encrypted. gajim does not warn about this and displays the message as if it was encrypted.

Messages sent between Conversations and Conversations do not have this issue.

gajim 0.16
gajim-omemo 0.8.1
Conversations 1.13.8

[2016-08-21 11:46] lovetox commented on #108
please read the readme, you have to use the latest gajim version.

[2016-08-21 11:46] #108 closed

[2016-08-22 04:51] nicoechaniz commented on #47
@lovetox how's your work going? We'd love to test your implementation and maybe help out a bit.

[2016-08-22 07:00] lovetox commented on #47
there is an event needed in gajim so that it works, thats only implemented in the gtk3/python3 branch until now not the gtk2 version

and everyone who can commit to the main repo is on holiday

[2016-08-22 08:13] lovetox commented on #97
did you get a look at the logs?

[2016-08-22 08:48] silberzwiebel commented on #97
No, because it suddenly worked. It seems there is something wrong with
the roster management in gajim and / or Conversations. Somehow, I can
click "Allow contact to see my status" all the time. When the contact
was online at the same time when I clicked this on my gajim, I received
her OMEMO key, in both Conversations an gajim.
I do have another PC running gajim, where I did not receice the key.
I

[2016-08-22 09:03] lovetox commented on #97
the same buttons are in conversations in the contact detail view.
so you can click what you want if for example the contact hasnt ticked that box in conversations for example

both subscriptions status have to be ticked, in gajim and in conversations.

[2016-08-22 09:25] lovetox commented on #97
as this seems to be an issue with subscription either in gajim or conversations, and not the plugin i will close this :)

feel free to reopen if you find something that points to a bug with the plugin

[2016-08-22 09:25] #97 closed

[2016-08-29 16:48] ivogrig commented on #48
I am on Arch linux, this happened right after installing the OMEMO plugin in the preferences.
Not sure what I am doing wrong, I tried installing protobuf 2.6.1 and 3.0.02b as suggested and also python-axolotl.

[code]

[2016-08-29 21:01] lovetox commented on #48
on arch the easiest way would be to install it from AUR
https://aur.archlinux.org/packages/gajim-plugin-omemo/

did you try this?

[2016-08-30 10:30] lu-x commented on #48
I tried installing it from the arch-repos as well as from AUR. Both ways don't work.
I get: `Warning: Error: No module named _message`

[2016-08-30 10:49] cippaciong commented on #48
@kas70 I'm not sure of which package you are talking about since gajim-plugin-omemo is only available in AUR and not in the official repositories. Anyway, I think the problem with that error is that you are missing the package `python2-setuptools`

[2016-08-30 20:05] lu-x commented on #48
@cippaciong Yes, you're right. The first way i tried was via gajim plugin manager not the arch-repositories of course.
The module `python2-setuptools` is installed. So this shouldn't be the problem.

[2016-08-31 06:25] lovetox commented on #48
then try downgrading protobuf, with pip install protobuf==2.6.1

there is sadly a bug in the package when you have protobuf 2.6.1 installed and python lib upgrades it to 3.0.0

the package is not found afterwards.

a downgrade should solve this, or a complete uninstall of the package and reinstall.

also maybe you could show the full traceback

[2016-08-31 07:37] ivogrig commented on #48
@lovetox No I had not tried installing from AUR actually, rather went with the "wizard" in the GUI.
I uninstalled my previously installed version of protobuf with pip and then installed from the AUR:

It was my first time using cower, not sure if this is the easiest way but this is what I did:
`cd /tmp`
`cower -d -d gajim-plugin-omemo`

It said some dependencies exist in extra/community repositori

[2016-08-31 10:47] ao2 opened #113 "The OMEMO plugin may not get loaded with recent python-pkg-resources versions"
Hi, this report is informational, I suspect the problem is **not** actually in the OMEMO plugin but rather in demandimports, but I though you should know that the issue exists.

#### General information

* **Gajim Version:** 0.16.5
* **Plugin Version:** 0.8.1/0.9.0
* **OS:** Debian Unstable

#### Steps to reproduce

1. Install python-pkg-resources >= v25.3.0
2. launch gajim

#### Expected result

[2016-09-01 06:05] lovetox commented on #113
thanks for bringing this to our attention.

i will look into it, i think i can solve this without code changes to gajim

[2016-09-01 11:35] lovetox commented on #113
so i will add this _tread to demand ignore list, hope that helps

[2016-09-01 13:00] ao2 commented on #113
Yes please, that's what the mercurial developers suggested.

If you have been following https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=835472 you can see that there is a chance that gajim will drop demandimport altogether in the future, so a temporary workaround in gajim-omemo is fine.

And keep an eye on the gajim release notes so that maybe you can remove demandimport too from the gajim-omemo

[2016-09-02 21:05] lovetox commented on #113
https://github.com/omemo/gajim-omemo/pull/114

included in the next version.
thanks

[2016-09-02 21:05] #113 closed

[2016-09-04 15:17] BlauerHunger opened #115 "No module named legacymessageexception"
#### General information

Before opening an issue, please read our Wiki

* **Gajim Version:** 0.16.5-f5209cb10665 (package gajim-nightly from ftp.gajim.org/debian/)
* **Plugin Version:** 0.9.0
* **OS:** Debian Unstable
* **Server name:** jabber.ccc.de

#### Steps to reproduce

1. Start Gajim with OMEMO plugin installed (and python-axolotl)
2. Gajim logs "(E) gajim.plugin_system.omemo No module nam

[2016-09-04 15:59] tristan-k commented on #19
@lovetox Thanks!

[2016-09-04 16:02] tristan-k opened #116 "broken link on wiki page for windows"
The link to the windows setup.exe on the [wiki](https://github.com/omemo/gajim-omemo/wiki/Installing-on-Windows) is broken.

https://gajim.org/downloads/snap/win/gajim_0.16.5_axolotl.exe

[2016-09-04 17:48] lovetox commented on #115
Are you sure you have all dependencys?

python-axolotl is needed

[2016-09-04 17:57] BlauerHunger commented on #115
First I thought this wouldn't be a problem, but it turned out that I have to install the python-axolotl package from pip. **The one from Debian Unstable doesn't work.**
I think this information should be added to the README-file.

[2016-09-04 17:58] lovetox commented on #115
it is in the Readme and also in the install wiki for Debian

[2016-09-04 18:01] BlauerHunger commented on #115
There is no special note that the debian package python-axolotl doesn't work, and there it's still recommended to install it.

[2016-09-04 18:02] lovetox commented on #115
it doesnt work for you, so make a bug report here or at debian

[2016-09-04 18:03] BlauerHunger commented on #115
I think I'll do that, and sorry for the noise

[2016-09-04 18:03] #115 closed

[2016-09-04 18:21] lovetox commented on #116
yeah a new gajim version is inbound

[2016-09-04 21:42] lovetox commented on #116
should be fixed

[2016-09-04 21:42] #116 closed

[2016-09-04 22:10] lovetox commented on #115
there is soon a new package in debian
`gajim-omemo`
https://ftp-master.debian.org/new.html

[2016-09-06 10:01] di72nn commented on #98
Is the following stack trace related to the issue?

[code]

This errors with the same KeyId repeatedly appears in logs.
The problem seems to prevent me from using the OMEMO plugin with one of my contacts.

[2016-09-06 11:59] lovetox commented on #98
this should solve itself automatically if you write him a message from that device

if not a log would be useful what happens on his side when you send him a message

[2016-09-06 18:17] di72nn commented on #98
I can't send a message because there is no required fingerprint in the fingerprint list. But this is probably somewhat different issue, I'll try to gather more details on it later.

[2016-09-06 20:15] lovetox commented on #98
the issue i see here is, you contact doesnt have a devicelist published at his server.

you should try this if he is online at the same time.
as soon as we get a devicelist with keys, and you send him a message, the other problem will be gone.

reasons for a not published devicelist could be: he is not online at the same time, or his server has issues

[2016-09-06 22:32] lovetox commented on #19
The new version of `url_image_preview` plugin, decrypts automatically pictures stores it to a download folder on the harddisk, and displays a thumbnail in chat.

if you click the thumbnail, the picture is opened from the harddisk,

[2016-09-07 22:57] lovetox commented on #19
http upload now supports upload of encrypted files when omemo is activated, on windows and on linux.

so i close this for now.

[2016-09-07 22:57] #19 closed

[2016-09-08 08:36] ao2 commented on #19
@lovetox thanks.

Any long term plans to support opening encrypted uploads that are not images?
For example, Conversations shows an "Open" button in this case instead of the preview of the image.

In a message above it was proposed to generalize the `url_image_preview` plugin into something like `http_download`.

[2016-09-08 08:42] lovetox commented on #19
yeah this is planned, we layed the groundwork for that now.

pictures up to 10 MB are downloaded and stored on the harddisk already.
so theoretical we only have to add the allowed extensions to download and open PDFs for example. and show a file icon instead of the previewed picture.

[2016-09-08 09:14] ao2 commented on #19
OK, great. If you open an issue somewhere to track the development please post a link here.

[2016-09-08 11:37] RalfJung opened #117 "Cannot send message to any contact"
#### General information

Before opening an issue, please read our Wiki

* **Gajim Version:** Current 0.16 branch
* **Plugin Version:** 0.9-6-ge619dd2
* **OS:** Debian testing
* **Server name:** self hosted
* **Server software:** prosody

#### Steps to reproduce

1. Try to send a message to any contact

#### Expected result

The message should be sent.
Instead, I get an error:

[code]

I suspect s

[2016-09-08 12:31] lovetox commented on #117
You have two options

either delete the DB, this would trigger new keys generated.
or you add the column yourself

see this issue for help:
https://github.com/omemo/gajim-omemo/issues/85

im sorry for the inconvenience, should not happen again.

[2016-09-08 12:35] lovetox commented on #117
hm i dont know really why this happend

the migration is taken care by the plugin

this is the migration code

[code]

maybe you can look what didnt go through here in your db

you also should set
`PRAGMA user_version=5`
when you are finished.

or you delete the db and start new, this would trigger a new key generated, your contact would have to trust a new fingerprint

[2016-09-08 14:00] RalfJung commented on #117
I changed `user_version(self.dbConn) < 5` to `user_version(self.dbConn) <= 5`, restarted Gajim, changed it back, restarted Gajim again -- now things are working. Strange...

[2016-09-08 14:00] #117 closed

[2016-09-09 09:42] raveer commented on #19
Do I need to setup anything to decode the encrypted sent files? I am able to upload encrypted pdfs or txts (the ones I tried), but neither user (sender and recipient) can decrypt them with a click on the link in the chat window whether the file is saved to disk or opened with external program from dialog. I am using gajim nightly 20160908-1 with the following plugins: httpupload 0.4.1, omemo 0.9.0

[2016-09-09 11:27] ao2 commented on #19
@raveer until there is a more integrated solution you can work around the issue by using something like this: https://git.ao2.it/conversations_http_downloader.git/

Either by pasting the link on the command line or by setting up the URL opener in gajim to the wrapper script created after running `make` in `conversations_http_downloader`

[2016-09-09 11:44] raveer commented on #19
@ao2 thank you for the work around.

[2016-09-15 14:25] lovetox opened #118 "Configure Plugin when no accounts are configured in Gajim"
#### General information

* **Gajim Version:** 0.16.5
* **Plugin Version:** 0.9.0

#### Steps to reproduce

1. try to configure the plugin, when no accounts are configured in gajim

Traceback appears

#### Expected result

Error Dialog that tells us that there is nothing to configure

[2016-09-18 16:30] lovetox commented on #10
on Windows axolotl is already bundled.

on Linux the best way in my opinion would be to create packages for the various distributions

The Plugin is right now in:
Debian-Unstable
AUR for Arch

someone told me if something is in Debian-Unstable it will end up in Ubuntu someday.

so what distributions are missing and should be supported?

Fedora?

[2016-09-24 13:43] Draic opened #119 "ability to disable omemo for different servers"
I am connectiong to multiple xmpp servers in gajim. One of them will for some reason disconnect me if omemo is enabled. This is most likely a problem with the servers config which is strange to begin with. But I would like to be able to disable omemo for specific servers so that it doesnt clash with them

[2016-09-24 13:49] lovetox commented on #119
i have this feature already in a branch, because some other people also requested it.

i hope i can upload it in the next week

[2016-09-27 16:36] sohom154 opened #120 "(E) gajim.plugin_system.omemo No module named _message"
#### General information
I followed the instruction on ArchWiki to install the omemo plugin, but that did not work because of some error.
Then I followed the instructions on this page and finally managed to install the plugin in gajim
Hoever now it does not work and shows me this error: `Warning: Error: No module named _message`

Before opening an issue, please read our Wiki

* **Gajim Version:

[2016-09-27 16:43] cippaciong commented on #120
What kind of error?

[2016-09-27 17:11] 83bytes commented on #120
error: target not found: python2-axolotl-git
==> ERROR: 'pacman' failed to install missing dependencies.

[2016-09-27 18:07] klemens commented on #120
You have to install [`python2-axolotl-git`](https://aur.archlinux.org/packages/python2-axolotl-git) (also from the AUR) first, which in turn depends on [`python2-axolotl-curve25519-git`](https://aur.archlinux.org/packages/python2-axolotl-curve25519-git/) from AUR.
You could also use an AUR helper which handles these dependencies automatically.

[2016-09-28 20:42] lovetox commented on #120
@sohom154 did you get it to work?

[2016-09-28 20:47] 83bytes commented on #120
yes!! It worked!

[2016-09-28 20:47] #120 closed

[2016-10-02 08:55] jocelynthode commented on #47
@lovetox Hey, is there a way to test your MUC implementation right now ?

[2016-10-02 09:14] lovetox commented on #47
you can try with gajim nightly and https://github.com/lovetox/gajim-omemo/tree/groupchat

only with contacts you have in your roster
chat channel has to be non-anonymus

[2016-10-02 09:20] jocelynthode commented on #47
thanks !

[2016-10-03 07:41] jocelynthode opened #121 "[Linux] Gajim freezes when sending an encrypted message"
#### General information
- **Gajim Version:** 0.16.5
- **Plugin Version:** 0.9.0
- **OS:** Archlinux 4.7.4-1-ARCH with btrfs as Filesystem
- **Server name:** self-hosted
- **Server software:** prosody 0.10
- **Installed server modules:** MAM, carbon copy, mam archive, http_upload
#### Steps to reproduce
1. Log in on linux
2. Start an OMEMO encrypted chat
3. Send a message
#### Expected result

Sen

[2016-10-03 10:09] simonbru commented on #121
There are many writes on ~/.local/share/gajim/omemo_thehost.db for each message sent. In particular I think the `fdatasync` syscall is called 2*(number of omemo keys) on this file, for every message sent.
I also don't notice any lag when  ~/.local/share/gajim/ is on a `tmpfs`.

[2016-10-03 13:12] lovetox commented on #121
hm, if you are sure its because of I/O, im at a loss what can be done about it.

you can try to install python-cryptography, which gives you native encryption (fast), so you could rule out that.

[2016-10-03 13:21] jocelynthode commented on #121
I have python-cryptography installed.

Edit: I'll try testing it on a system with ext4, to see if btrfs might be part of the problem or not

[2016-10-03 14:21] lovetox commented on #121
so maybe its specific to btrfs?!

i wouldnt call that a global linux issue, i think its specific to your system. plugin is out for 6 months, and until now no one reported that behaviour.

all the plugin does is call standard sqlite operations.

maybe update sqlite?
try installing the gajim on another harddisk

[2016-10-05 13:32] slizzered commented on #47
@lovetox, I get the following error when trying to send a message to a group chat where all members are in my contact list, but I don't yet have the OMEMO key of one member:

[2016-10-05 13:32] simonbru commented on #121
I tried gajim + omemo on multiple machines and OSes, and I found that the lag was noticeable both on ArchLinux and Ubuntu 16.04. However it felt significantly worse on ArchLinux + btrfs + LUKS than on Ubuntu + ext4).
I also tried running gajim on a portable Win10 installation on a slow USB2 HDD, and there the lag was barely noticeable (~ less than 0.5sec).
My testing methodology wasn't very consis

[2016-10-05 13:50] cippaciong commented on #121
JFYI, I use Gajim + OMEMO on Arch Linux on different machines and I never noticed any lag. The setups span from low end Atom CPU to i5, HDD or SSD and I use both ext4 and btrfs (the latter only on SSD though), with LUKS encryption.

[2016-10-05 15:38] fuelflo opened #122 "cannot activate OMEMO plugin on Ubuntu 16.10 final beta"
Hey, since I updated to Ubuntu 16.10 final beta I cannot activate the OMEMO plugin anymore.

Gajim Version: 0.16.5
OMEMO plugin version: 0.9.0
python-axolotl is already the newest version (0.1.7-1).
python-cryptography is already the newest version (1.5-2).

I get following error when trying to activate the plugin:

And thats the debug output:

Anything I can do to fix it or you have to fix it in

[2016-10-05 17:18] ronnicek opened #123 "Windows link doesn't work anymore"
#### General information

Before opening an issue, please read our Wiki

* **OS:** Windows 7

#### Steps to reproduce

1. Go to https://github.com/omemo/gajim-omemo/wiki/Installing-on-Windows
2. Click on link

#### Expected result

Download of file :)

#### Debug output
N/A

[2016-10-05 17:20] lovetox commented on #123
Sorry, thats becasue Gajim 0.16.6 has everything onboard, no link necessary anymore :)

[2016-10-05 17:20] #123 closed

[2016-10-05 17:24] lovetox commented on #122
2 of these errors are not from OMEMO

so you cant activate the plugin, i have to investigate what the error actually means.

[2016-10-05 17:27] lovetox commented on #122
https://groups.google.com/forum/#!topic/linux.debian.bugs.dist/amfNKJWoOoE

you should probably downgrade to protobuf 2.6.1

[2016-10-05 17:28] fuelflo commented on #122
Nope, the box is grey and I cannot activate it. I also already removed and reinstalled the plugin.

Am 5. Oktober 2016 19:24:02 MESZ, schrieb lovetox <notifications@github.com>:

[2016-10-05 17:30] lovetox commented on #121
your xmpp server has nothing to do with it, the process of sending a message does not depend on a working server.

does the problem really only exist if you write an encrypted message?

[2016-10-05 17:32] lovetox commented on #47
yeah, this was really only a try to implement this, i will update the code end of the week hopefully

[2016-10-07 16:12] lovetox commented on #122
so did it work?

[2016-10-07 20:31] fuelflo commented on #122
sry, I was at a place with no internet for my pc.... ;)

indeed it worked when downgrading to protobuf 2.6.1.

[2016-10-08 13:49] #122 closed

[2016-10-09 00:25] #118 closed

[2016-10-09 00:40] lovetox commented on #47
### Only works with Gajim 0.16.6 or Nightly

So i merged GroupChat, but its rather incomplete because i need people who are testing.
- How a Room must be created to allow for OMEMO Encryption with Conversations

- Right now we dont querry the Memberlist of the room, we go only with presence we receive from people in the room. So if you join an ongoing conversation, and someone who was earlier in t

[2016-10-09 18:26] functionpointer commented on #119
I would like this feature as well. I use gajim to connect to the chat of League of Legends, which works fine as long as OMEMO is not active. With OMEMO active i get disconnected as soon as OMEMO gets mentioned in the XML console.

[2016-10-09 18:39] lovetox commented on #119
its already in HEAD, new version will hit the plugin repo of Gajim soon

[2016-10-09 18:41] functionpointer commented on #119
Yes i just noticed the commits 9124577ff1ee07c81132d532c98052ec4db94099 and 9b2c989aa8ebd05bc857c95cad285afee9cb8e94 . After cloning the git repo and replacing the plugin folder i can confirm that it works correctly! Thank you!

[2016-10-09 18:51] lovetox commented on #119
dont switch back to an older version, because the DB name was migrated to another name scheme, so if you go back to an older version the whole DB would be created new.

[2016-10-09 18:54] functionpointer commented on #119
Oh interesting. I figured since the version number in the manifest.ini didnt change gajim wouldnt care much about the changed files and just run them. It's probably also going to notify me if there is a new version. Isn't it great that this is so easily possible? No compilation process, no checksums or certificates getting in the way. Just copy and go! Plus now i get to use git pull if i want a ne

[2016-10-10 13:12] pippcat commented on #47
Hey there,

thanks for working on this!

We tried it with a conference with 2 Gajim 0.16.6 clients and weren't able to activate OMEMO. What do we do wrong? Honestly I don't understand what you mean by "You need to have presence subscription with every member of the conference.". Does it mean we have to trust our OMEMO fingerprints? If so, than that's not the problem since we're chatting OMEMO-encr

[2016-10-10 13:43] lovetox commented on #47
it means you have to have each other in your contact list, you cant chat with strangers.

when you are saying you couldnt activate omemo, does that mean the omemo symbol stayed grey?

i would try to let the conversations client open the chat room, and invite everybody

[2016-10-10 15:57] pippcat commented on #47
There is no OMEMO symbol.

If I set up the room with gajim and invite a conversations client I can activate OMEMO in conversations. But if I then send a encrypted message, Gajim only receives the "I sent you an OMEMO encrypted message but your client doesn't seem to support that. Find more information on https://conversations.im/omemo" message.

If I create the room with conversations and invite t

[2016-10-10 21:04] nerdy-sam commented on #47
I'm testing in MUCs with conversations.im as other clients... fingerprint trusting is a little sticky and on some MUCs it has two OMEMO icons and I can enable OMEMO independently on each one, not sure what that means. I will create issues as I get more information. However, I am successfully chatting in multiple OMEMO MUCs for the first time from the non-mobile device!! thank you!

[2016-10-10 21:28] lovetox commented on #47
@pippcat when there is no omemo symbol that means there are other bigger issues.
omemo capable chat or not, there should always be the omemo symbol in MUC (its different for private chats)

if the groupchat is in your roster, delete it and try to join on your own without invitation, after conversations invited you, you are in the memberlist and should be able to join.

do you really have no omemo

[2016-10-10 21:31] lovetox commented on #47
@mitzip whats sticky about fingerprint trusting? it should be the same process like in normal chats. but you shouldnt really have to trust that much because the contact should be already in your roster. so probably you chatted to him before anyway.

the thing with the 2 icons, could happen if you deactivate the plugin itself in the pluginmanager, and reactivated it without restart. so the icon was

[2016-10-10 21:51] lovetox commented on #47
i updated my previous post with instructions

[2016-10-10 23:58] nerdy-sam commented on #47
@lovetox "whats sticky about fingerprint trusting?" Trusting the fingerprints from the chat window icon didn't seem to do anything... doing it through the plugin config didn't seem to either, since they were already marked as trusted... though if I do that and then come back to the MUC, no more prompting for trusting fingerprints and my messages go through

[2016-10-11 00:09] lovetox commented on #47
1. Fingerprint Window from Chat, and Config Fingerprint Window have the same Fingerprints, the only difference is that the config Fingerprint Window has Fingerprints of all Contacts in your Account.
2. If a Fingerprint is Trusted its trusted, it will not do anything to trust again, for groupchat the same fingerprints are used as for single chat, there are no new fingerprints to be trusted normally

[2016-10-11 13:09] lovetox commented on #47
I updated the way the Memberlist is pulled from Chat with the newest commit, so it should now work to write messages to people in the memberlist who are not online when we join the chat

[2016-10-11 15:55] YoukaiCat commented on #47
Sending a message that contains non ASCII characters cause the database error. However, the message will still be sent.

![screenshot_20161011_181628](https://cloud.githubusercontent.com/assets/1074478/19276790/9785cb70-8fe8-11e6-8606-eeb8af21b5dc.png)

Tested on:
GNU/Linux, Gajim nightly, OMEMO master
Windows 7, Gajim 0.16.6, OMEMO master

[2016-10-11 16:06] lovetox commented on #47
@YoukaiCat

hm scrap that, i can reproduce it :/

trying to repair

[2016-10-11 16:21] YoukaiCat commented on #47
@lovetox This error appears only in OMEMO-enabled MUC.
Everything else works: 1-to-1 chat with or without OMEMO, MUCs without OMEMO.
I'll take more tests in a virtual machine with other distro and another XMPP server.

[2016-10-11 16:32] lovetox commented on #47
@YoukaiCat you dont need to already found the problem, fix will be online soon

[2016-10-11 18:53] lovetox commented on #47
@YoukaiCat thanks for reporting the bug, i fixed it and added various other improvements.

[2016-10-13 12:08] COLABORATI opened #129 "Installation is much too hacky, please provide an easy way to install"
the installation procedure is much too hacky - please provide an easy, preferably one-click way to install this plugin, thanks.

[2016-10-13 12:11] COLABORATI opened #130 "Plugin installed, but not visible in plugin list"
**Gajim Version:** 0.16.6-81c36bd94098
* **Plugin Version:** dont know, just what is in the plugin list
* **OS:** eg Ubuntu 14.04
* **Server name:** jabber.ccc.de

Plugin is listed in the plugin installer. I select the plugin check box and click install button, looks like something is downloaded. However, the plugin does not show up in the 'installed plugins' area.

Even worse: there is no message

[2016-10-13 14:22] lovetox commented on #130
please read the wiki
https://github.com/omemo/gajim-omemo/wiki/Installing-on-Linux

[2016-10-13 14:24] lovetox commented on #129
you are free to create a package in an ubuntu repo and maintain it.

[2016-10-13 14:25] lovetox commented on #130
we will have better error handling in the next version of the plugin

[2016-10-13 20:59] petmos commented on #47
@lovetox First I want to say thank you very much for your great work. At the moment I only work with a small MUC (only 2 participants), but it works very good.
The only problem I have is that all my own clients must be online or I loose some messages. But I think it is not a problem with gajim-omemo but with my MUC, xmpp service provider, ..., because I see the same behaviour on my conversations c

[2016-10-13 21:20] lovetox commented on #47
its not a requirement, but you need MAM support for MUC, the server where the MUC is hostedn has to have that, and then, i believe, the room has to be created with the option to save history (activated MAM for the MUC).

but Gajim doesnt support MAM for MUC right now, so even if your server provides it you will not get all messages.

what MUCs also provide is to send the last X messages to someone

[2016-10-14 14:42] ghost commented on #48
Following [bugspencor](https://github.com/omemo/gajim-omemo/issues/48#issuecomment-202353030) I tried:

[code]

Did I miss something (running Debian8)?

[2016-10-14 15:38] lovetox commented on #48
yeah its protobuf==2.6.1 not ">="

also if you have access in debian testing there is the plugin with all dependencys as package "gajim-omemo"

[2016-10-14 15:56] petmos commented on #47
@lovetox Thank you for your explanation. Now it's clear for me.

But this is in opposite you wrote in your HowTo some posts earlier:

I set muc_restore_lines to 0, but now I'm not sure. Should I increase muc_restore_lines again?

[2016-10-14 16:23] lovetox commented on #47
yes try it, can not hurt :)

i wrote this because i didnt want to have error reports because of that, but now i think its wrong anyway there will be no error messages, or at least shouldnt, please report what you found out, if its working or not

[2016-10-14 18:16] ghost commented on #48
Thx [lovetox](https://github.com/omemo/gajim-omemo/issues/48#issuecomment-253837148), but:

[code]

Any other ideas?

[2016-10-14 19:53] lovetox commented on #48
you never said whats your problem:

you get the same error as in the topic?

[2016-10-14 19:55] ghost commented on #48
@lovetox shure otherwise I would open a new topic. :)
I got the error installing Gajim under Debian8 and installing the OMEMO plugin. Looking for the error code I found this topic.

[2016-10-14 20:01] lovetox commented on #48
from where did you install gajim?
make sure you have gajim 0.16.6

[2016-10-14 20:05] ghost commented on #48
@lovetox thx for your help.

[code]

So I need to install from unstable? _eek_

[2016-10-14 20:06] lovetox commented on #48
yes, and you could also install the gajim-omemo package from there

[2016-10-14 20:07] lovetox commented on #48
0.16.5 should also work

also in the next version of the plugin we check for the gajim version
its just endless for how many things i have to check on linux :/

and that protobuf bug or whatever it is, that we cant import version 3.0 if it wasnt correctly installed fucks me over for a long time

[2016-10-14 20:14] ghost commented on #48
@lovetox hm...

[code]

...gajim is not even starting now. Do I have to install the suggested packages?

[2016-10-14 20:15] lovetox commented on #48
Setting up gajim (0.16-1+deb8u1) ...

in this query there is not once gajim 0.16.5 or 6

i would just install gajim 16.6 and gajim-omemo from unstable

[2016-10-14 20:27] YoukaiCat commented on #47
@lovetox For me, `muc_restore_lines` doesn't work for encrypted messages. When i join the room, i see only the old plain text messages marked as `**Unencrypted**`. I didn't receive any encrypted messages that have been sent by members of the conference while I was away.

Settings:
`Maximum Number of History Messages Returned by Room` = 350
`muc_restore_lines` = -1 (all available messages)

[2016-10-14 20:43] ghost commented on #48
@lovetox Sorry, my fault using wrong command...

[code]

So I had to:

[code]

Followed by:

[code]

And

[code]

But Gajim is still not starting (I just can see a popup of the Gajim window for a second). Did I miss something again?

[2016-10-14 21:20] lovetox commented on #47
yes thats intended, you can only decrypt a message once with omemo after that keys are deleted.
so in that way you would get only messages that are new to you, you missed when you were offline.

what you want to have is, gajim displaying already received messages as history in the chat window.

but gajim has a history window where it does that. so it displays only new messages in the chat window,

[2016-10-14 21:22] lovetox commented on #48
no, please start gajim from terminal and post the error message

[2016-10-14 21:33] ghost commented on #48
@lovetox Thx, here it is:

[code]

[2016-10-14 21:38] lovetox commented on #48
so did you install python-axolotl?

[2016-10-14 21:44] lovetox commented on #48
you could also delete from .local/share/gajim/plugins
omemo, so then gajim should start

and install gajim-omemo with all deps from debian unstable

[2016-10-14 23:09] YoukaiCat commented on #47
@lovetox

That's what i was trying to test and it does not work.

3 participants in the conference, encryption is enabled.
1. I asked one of the participants to send a message when i leave the conference
2. Quit gajim
3. Reconnect after some time
4. No new messages (Which actually was sent)

[2016-10-14 23:53] lovetox commented on #47
hm damn, it seems like server doesnt save messages without a body.

if you have your own server you could look if it saves the stanzas without body. to confirm my theory.
i didnt found it in any xep that it would be forbidden to save such messages

if this is true and server implementations dont save these messages, we can only hope that gajim adopts MAM querry for muc

[2016-10-15 12:13] jocelynthode commented on #121
Yes the problem only exists  when sending encrypted messages

[2016-10-15 13:53] ghost commented on #48
@lovetox thx, /local/share/gajim/plugins was empty because I've purged gajim before reinstalling from testing.
I didn't install axolotl, tried now starting with omemo:

[code]

So going on with:

[code]

Hm, okay, going on with:

[code]

At this point I stopped because I don't feel comfortable to start installing packages from unstable. Do you know if libprotobuf10, libstdc++6 and python-six are o

[2016-10-15 14:11] lovetox commented on #48
then dont install from unstable, then you have to install every dependency manually

you need
Gajim 0.16.5 or higher
python-protobuf 2.6.1 or higher
python-axolotl 0.1.7 or higher

then you can download the plugin from within gajims pluginmanager and start

depending on your installation it could be necessary to downgrade to protobuf 2.6

[2016-10-15 14:38] lovetox commented on #48
and i highly doubt that  .local/share/gajim/plugins was empty

because only the plugin needs python-axolotl, so if this was the error message, it must have been on your harddrive

[2016-10-15 14:40] ghost commented on #48
@lovetox Okay, Gajim was already the right version installed from testing:

[code]

Going on with `python-protobuf 2.6.1 or higher`:

[code]

So `# apt-get install python-protobuf did` it. Going on with `python-axolotl 0.1.7 or higher`:

[code]

Fortunately there is a backports backage!

[code]

Finally Gajim is starting now and Omemo plugin works! Thx alot.

[2016-10-15 14:42] lovetox commented on #48
thank god

[2016-10-15 14:53] ghost commented on #48
@lovetox Well, God wouldn't force Debian users to organize a [Repo mix-and-match hit parade](http://forums.debian.net/viewtopic.php?f=20&t=114130&hilit=mixed+repo) ;)
Anyway... thanks alot for all your help!

[2016-10-17 13:12] azrdev opened #131 "opportunistic encryption (OMEMO with untrusted keys)"
#### General information
- **Gajim Version:** 0.16.6-1
- **Plugin Version:** 0.9-1
- **OS:** Archlinux rolling
#### Steps to reproduce
1. Try to send a message to a (new) contact that has OMEMO, but you have not trusted any of her fingerprints
2. As documented, gajim refuses to send the message and warns instead `You have to at least trust one fingerprint to send messages`
3. Turn off OMEMO to be

[2016-10-17 15:42] lovetox commented on #131
thats trusting on first contact.

how would you think the behaviour should be if you have already trusted the one device of your contact, but he publishes a second one, should we also send messages to this new device without trusting, or not?

some people will find that this is less secure and defeats the purpose of trusting fingerprints

[2016-10-17 16:19] #130 closed

[2016-10-17 16:35] cryptobanana opened #132 "plugin fails to load on ubuntu 16.10"
#### General information

plugin fails to load with Warning: Error: Descriptors should not be created directly, but only retrieved from their parent.

Before opening an issue, please read our Wiki
- **Gajim Version:** 0.16.5
- **Plugin Version:** 0.9.0
- **OS:** Ubuntu 16.10
#### Steps to reproduce
1. install gajim
2. sudo aptitude install python-axolotl
3. install the omemo plugin through the plu

[2016-10-17 16:43] lovetox commented on #132
please downgrade to protobuf 2.6.1

[2016-10-17 17:58] klemens commented on #131
I don't think we should trust on first contact, as this allows the server (or an attacker on the local net, etc.) to read of fake your messages. The OMEMO-XEP even explicitly says in section 7: "Clients MUST NOT use a newly built session to transmit data without user intervention. [...] A client MAY use such "not (yet) trusted" sessions for decryption of received messages [...]".

The same reasoni

[2016-10-17 17:59] YoukaiCat commented on #47
@lovetox

I have found that if a message is sent from a mobile client Conversations, when i'm offline, then when i connect and enter the conference i can see this message.

My outdated mobile client Talkonaut for Symbian that doesn't support OMEMO displays it as "I sent you an OMEMO encrypted message but your client doesn't seem to support that. Find more information on https://conversations.im/om

[2016-10-17 18:27] lovetox commented on #48
there should be a package of gajim-omemo in debian-backports from today on.

if this doesnt work out of the box with gajim, this should be mentioned to the package maintainer

[2016-10-17 18:53] lovetox commented on #47
they found i think accidently a way around

they add the

message in groupchats, to every message, it doesnt matter if all clients in a groupchat support it or not.

i thought that i am smart, and aks the clients first if they support it, and only adding the message if someone doesnt support it.

so if all clients in a chat support omemo, i dont add a body with that message, hence the server doesn

[2016-10-17 18:56] YoukaiCat commented on #131
OTR for example separate encryption and authentication.

There may be situations in which you explicitly do not trust the contact, but want to achieve privacy.

Otherwise there is a risk to "trust" an untrusted contact for just to talk to him without make a real authentication through an outside channel. This will lead to that the contact will be marked as "trusted", and you forget that there had